-# This template renders a profile section.
-# Locals:
-#   section                 ProfileSection
-#   profile_field_options   Hash
-#
- large_map = @large_map_address_fields.try(:any?)
- if section.title.to_sym == :contact_information
  - small_map_address_fields = section.profileable.profile_fields_by_type("ProfileFields::Address")
  - small_map = (small_map_address_fields.any? and not large_map)
- with_small_map_class = small_map ? 'with_small_map' : ''

%h1{:class => "section #{section.title} #{with_small_map_class}"}= t section.title
%div{:id => "section_#{section.title}"}

  - if small_map
    %span.contact_section.map.do_not_show_in_edit_mode
      = map_of_address_profile_fields small_map_address_fields

  = render partial: 'profiles/profile_section_ul', locals: { section: section, profile_field_options: profile_field_options }

  - if profile_field_options[:formatting_help]
    .show_only_in_edit_mode.right
      = render partial: 'shared/markdown_help'

  = render partial: 'profiles/add_profile_field_button', locals: { section: section, profileable: section.profileable }
  
  - if section.title.to_s == 'contact_information' and section.profileable.kind_of?(Group)
    = render partial: 'profiles/send_group_message_button', locals: {group: section.profileable}
