- # locals:
- #   - officer_group
- #   - structureable

%li.officer_entry

  .button-wrapper
    - if can?(:destroy, officer_group) and can?(:create_officers_group_for, structureable) and officer_group.descendant_users.count == 0
      %a.btn.btn-danger.remove_button#destroy_office.show_only_in_edit_mode{href: group_path(officer_group, format: 'json')}
        = icon :trash

  .label-wrapper
    -#= link_to group_members_path(officer_group) do
    -#  = best_in_place_if can?(:rename, officer_group), officer_group, :name, activator: true
    - if can? :rename, officer_group
      = best_in_place officer_group, :name
    - else
      = officer_group.name

    - if can? :rename, officer_group
      %span.group_flags.show_only_in_edit_mode
        - for flag in officer_group.flags
          %span.label.label-info
            = icon :tag
            =t flag

  .value-wrapper
    = render partial: 'officers/officer_group_members', locals: {officer_group: officer_group}