%table.officers_by_scope.datatable#officers_table
  %thead
    %tr
      %th= t(:officer_group_scope)
      %th.show_only_in_edit_mode= t(:destroy_office)
      %th= t(:officer_group_office)
      %th.show_only_in_edit_mode= t(:office_flags)
      %th= t(:officer_group_officers)
      %th
      %th= t(:officer_group_updated_at)
  %tbody
    - @officer_groups.each do |officer_group|
      %tr
        %td.scope
          = link_to officer_group.scope.title, officer_group.scope

        %td.destroy.show_only_in_edit_mode
          %p
            - if can?(:destroy, officer_group) and can?(:create_officer_group_for, officer_group.scope) and officer_group.descendant_users.count == 0
              %a.btn.btn-sm.btn-danger.remove_button.show_only_in_edit_mode#destroy_office{href: group_path(officer_group, format: 'json')}
                = icon :trash
        %td.name
          %p= best_in_place_if can?(:rename, officer_group), officer_group, :name

        %td.flags.show_only_in_edit_mode
          = group_handle(officer_group)
          %span.officer_group_flags.group_flags= flags(officer_group)

        %td.members
          %p= render partial: 'officer_group_members', locals: {officer_group: officer_group}

        %td.history
          - if can? :manage, officer_group
            = link_to icon(:history), group_memberships_path(group_id: officer_group.id), class: 'btn btn-default btn-sm', title: t(:office_history)
        %td.updated_at
          %p= localize officer_group.updated_at.to_date
    - @officer_groups_by_scope.each do |scope, officer_groups|
      - if can?(:create_officer_group_for, scope)
        %tr.add_office
          %td= link_to scope.title, scope
          %td.show_only_in_edit_mode
          %td
            %p
              = form_for OfficerGroup.new do |form|
                %input{type: 'hidden', name: 'parent_type', value: scope.class.base_class.name}
                %input{type: 'hidden', name: 'parent_id', value: scope.id}
                = form.text_field :name, placeholder: t(:create_new_office_for, scope_title: scope.title)
                = form.submit t(:submit_create_new_office_for, scope_title: scope.title), class: 'btn btn-primary btn-sm hidden'
          %td
          %td
          %td
          %td
