<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: Helvetica; line-height: 150%">
    
    <%= link_to root_url do %>
      <%= image_tag 'logo.png', align: 'right' %>
    <% end %><br />
    
    <h2><%= @subject %></h2>
    
    <%= markup @text %>
    
    <p>
      <br /><br />
      <small><small>
        <%= app_name %>, <%= link_to(@group.name, @group) %>
      </small></small>
    </p>
    
  </body>
</html>