%h4 Mitglied dieser Gruppe hinzufügen
%p 
  Mit dem folgenden Textfeld können Personen gesucht und der Gruppe
  %strong= @group.name
  hinzugefügt werden.
  Nach Neuladen der Seite (
  %kbd Strg + R 
  bzw. 
  %kbd ⌘ + R
  ) werden diese Mitglieder dann auch
  in der Tabelle aufgeführt.
%ul.new_memberships
  %li
    = form_for @new_membership, remote: true do |f|
      = f.hidden_field :group_id
      = f.text_field :user_title, 'data-autocomplete-url' => titles_api_v1_users_path, :class => 'user-select-input new-membership'
      = f.submit I18n.t(:add), :class => 'btn btn-outline-secondary btn-small add-user-button', 'data-loading-text' => "#{I18n.t(:add)} ..."
      %span.new_users_waiting
