- # This renders a page to change the user's password.
- # 
- # Locals:
- #   - user_account
- #   - require_current_password, default: true
- #
- user_account.present? || raise('no user_account given when rendering user_accounts/change_password partial.')
- require_current_password = true unless defined? require_current_password

- set_title t :change_password

- form_url = require_current_password ? registration_path('user_account') : password_path('user_account')

= form_for(user_account, :as => 'user_account', :url => form_url, :html => { :method => :put }) do |f|

  - if not require_current_password
    = f.hidden_field :reset_password_token

  - if devise_error_messages!.length > 0 or (devise_mapping.confirmable? && user_account.pending_reconfirmation?)
    .alert.alert-danger
      = devise_error_messages!
      - if devise_mapping.confirmable? && user_account.pending_reconfirmation?
        %div Currently waiting confirmation for: = user_account.unconfirmed_email

  .row
    .col-md-8
      %h1 Welches Passwort soll ich wählen?
      %div
        %p Denken Sie an eine Situation, an die Sie sich erinnern ider die Sie sich gut merken können. Entnehmen Sie vier Schlagworte und verbinden Sie sie zu einem Passwort.
        %p
          %strong Gutes Passwort:
          %code.has_tooltip{title: 'Die vier Begriffe zusammen ergeben das gute Passwort!'}
            %span.password_component abend 
            %span.password_component lustig 
            %span.password_component bowle 
            %span.password_component lecker
          (Man braucht mehrere Jahre zum Knacken. Die Leerzeichen können Sie weglassen.)
        %p
          %strong Schlechtes Passwort:
          %code
            %strike.has_tooltip{title: 'Für diejenigen, die diese Seite nur überfliegen, haben wir das schlechte Passwort vorsorglich durchgestrichen.', data: {placement: 'bottom'}} p4ssw0rt!
          (Man braucht 27 Sekunden zum Knacken.)
        %p
          Achten Sie bitte darauf, dass Sie 
          %strong für jeden Dienst ein eigenes Passwort
          verwenden. 
          Wenn der Zugang zu einem System geknackt wird, sind dann die übrigen Dienste nach wie vor sicher.
          Sie können entweder händisch ein Passwort-Buch führen oder ein Schlüsselbund-Programm verwenden.
        %p
          %span.pro_tipp_trigger
            %strong Pro-Tipp:
            Moderne Browser haben eine Schlüsselbund-Verwaltung, 
          %span.pro_tipp_body
            die Ihre Passwörter auch verschlüsselt zwischen Ihren Geräten synchronisieren. Die dürfen Sie ruhig benutzen und sich vom Browser ein Passwort vorschlagen lassen. Dann müssen Sie sich für die Plattform kein Passwort merken. Achten Sie nur darauf, dass die "Master-Passwörter" für Ihren Schlüsselbund und Ihren Computer gut genug sind.
    
    .col-md-4
      %h1.right Weitere Informationen
      %div
        %ol
          %li
            %p
              %a{href: 'https://xkcd.com/936'} xkcd-Comic zum Thema Passwort-Stärke
              (englischsprachig)
          %li
            %p
              %a{href: 'https://www.bsi-fuer-buerger.de/BSIFB/DE/MeinPC/Passwoerter/passwoerter.html'} Empfehlungen des Bundesamtes für Sicherheit in der Informationstechnik (BSI)
            %p 
              Lesenswert sind die Hinweise zum Umgang mit Passwörtern.
              Deren Empfehlungen zur Passwort-Wahl sind aber ein bisschen veraltet.
          %li
            %p
              %strong 
                %a{href: '#generated_passwords'} Zufällig generierte Beispiel-Passwörter
              haben wir weiter unten für Sie zusammengestellt.
    
  .row
    .col-md-12
      - if require_current_password
        %h1.current_password Bisheriges Passwort
        %div
          Aus Sicherheitsgründen fragen wir hier nocheinmal Ihr
          %strong bisheriges Passwort
          ab:
          = f.label :current_password, "Bisheriges Passwort"
          %span.input-group
            %span.input-group-addon= icon :key
            = f.password_field :current_password, class: 'form-control', placeholder: 'Bisheriges Passwort', autofocus: true
          %p.right
            = link_to 'Ich habe mein bisheriges Passwort vergessen. Ich benötige ein neues Passwort per E-Mail.', forgot_password_user_path(user_account.user), method: :put, class: 'send_me_a_new_password_via_email'
        
      %h1.change_password Neues Passwort
      %div
      
        = f.label :password, t(:new_password)
        %span.input-group
          %span.input-group-addon= icon :key
          = f.password_field :password, :autocomplete => "off", class: 'form-control', placeholder: 'Neues Passwort hier eingeben'
          %span.input-group-addon= password_strength_container
      
        = f.label :password_confirmation, "Neues Passwort bestätigen"
        %span.input-group
          %span.input-group-addon= icon :key
          = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Neues Passwort nocheinmal eingeben'
        
      %h1.confirm_password_change Bestätigen
      %div
      
        %span.input-group
          %span.input-group-addon
            %input(id="user_account_agreement" type="checkbox")
          %span.input-group-addon
            = f.label(:agreement, t(:i_agree_i_do_not_use_the_same_password_on_other_services))
            
            %p Bitte ignorieren Sie diese Pflicht nicht. Sie schützen damit auch die Daten der übrigen Benutzer dieser Software.
          %span.input-group-addon
            .thanks.hidden Danke!
            
        %p Bitte klicken Sie nun auf den folgenden blauen Bestätigen-Knopf, um die Änderung Ihres Passwortes einzuleiten.
        %p= f.submit t(:submit_changed_password), class: 'btn btn-primary btn-large confirm right'
        
      %h1 
        %a{name: 'generated_passwords'} Generierte Passwörter
      %div
        %h2 pwgen
        Hier eine Auswahl mittels
        %a{href: 'http://derpi.tuwien.ac.at/cgi-bin/man/man2html?pwgen+1'} pwgen
        phonetisch generierter Passwörter.
        - pwgen_command = "pwgen 24 --num-passwords=48 -C"
        %p~ ("<pre><code>" + "$ #{pwgen_command}\n\n" + `#{pwgen_command}` + "</code></pre>").html_safe
        
        %h2 bashpass
        Hier eine Auswahl mittels
        %a{href: 'https://github.com/fiedl/your_platform/tree/master/vendor/scripts/bashpass'} bashpass
        generierter Passwörter in Anlehnung an die unten stehende Karikatur.
        %p~ ("<pre><code>" + "$ #{BashpassPassword.bashpass_command}\n\n" + 24.times.collect { BashpassPassword.new }.join("\n") + "</code></pre>").html_safe
            
      %h1 Karikatur
      %div
        %a{href: 'https://xkcd.com/936'}
          = image_tag 'http://imgs.xkcd.com/comics/password_strength.png'
      
      %h1 Hinweise zur Verschlüsselung
      %div
        %p 
          Die Passwörter werden auf der Plattform in einer degenerierten Form
          = "(#{link_to 'bcrypt', 'http://de.wikipedia.org/wiki/Bcrypt'})".html_safe
          gespeichert, sodass sie von niemandem ausgelesen werden können.
        %p
          Bitte achten Sie aber darauf, dass Sie Ihr Passwort niemals an andere Personen weitergeben, auch nicht zur Hilfestellung bei der Arbeit mit der Plattform!
