- # This renders a page to change the user's password.
- #
- # Locals:
- #   - user_account
- #   - require_current_password, default: true
- #
- user_account.present? || raise(ActionController::ParameterMissing, 'no user_account given when rendering user_accounts/change_password partial.')
- require_current_password = true unless defined? require_current_password

- set_title t :change_password

- form_url = require_current_password ? registration_path('user_account') : password_path('user_account')

= form_for(user_account, :as => 'user_account', :url => form_url, :html => { :method => :put }) do |f|

  - if not require_current_password
    = f.hidden_field :reset_password_token

  - if devise_error_messages!.length > 0 or (devise_mapping.confirmable? && user_account.pending_reconfirmation?)
    .alert.alert-danger
      %h2 Das Passwort konnte nicht geändert werden!
      = devise_error_messages!
      - if devise_mapping.confirmable? && user_account.pending_reconfirmation?
        %div Currently waiting confirmation for: = user_account.unconfirmed_email

  .row
    .col-md-8
      %h1 Welches Passwort soll ich wählen?
      %div
        %p Denke an eine Situation, an die du dich erinnern oder die du dir merken kannst, entnehme vier Schlagwörter und verbinde sie zu einem Passwort.
        = render partial: 'user_accounts/good_and_bad_passwords_examples'
        %p
          Achte bitte darauf, dass du
          %strong für jeden Dienst ein eigenes Passwort
          verwendest.
          Wenn der Zugang zu einem System geknackt wird, sind dann die übrigen Dienste nach wie vor sicher.
          Du kannst entweder händisch ein Passwort-Buch führen oder ein Schlüsselbund-Programm verwenden.
        %p
          %span.pro_tipp_trigger
            %strong Pro-Tipp:
            Moderne Browser haben eine Schlüsselbund-Verwaltung,
          %span.pro_tipp_body
            die deine Passwörter auch verschlüsselt zwischen deinen Geräten synchronisieren. Die darfst du ruhig benutzen und dir vom Browser ein Passwort vorschlagen lassen. Dann musst du dir für die Plattform kein Passwort merken. Achte nur darauf, dass die "Master-Passwörter" für deinen Schlüsselbund und deinen Computer gut genug sind.

    .col-md-4
      %h1.right Weitere Informationen
      %div
        %ol
          %li
            %p
              %a{href: 'https://xkcd.com/936'} xkcd-Comic zum Thema Passwort-Stärke
              (englischsprachig)
          %li
            %p
              %a{href: 'https://www.bsi-fuer-buerger.de/BSIFB/DE/Empfehlungen/Passwoerter/Umgang/umgang_node.html'} Empfehlungen des Bundesamtes für Sicherheit in der Informationstechnik (BSI)
            %p
              Lesenswert sind die Hinweise zum Umgang mit Passwörtern.
              Deren Empfehlungen zur Passwort-Wahl sind aber ein bisschen veraltet.
          %li
            %p
              %strong
                %a{href: '#generated_passwords'} Zufällig generierte Beispiel-Passwörter
              haben wir weiter unten für dich zusammengestellt.

  .row
    .col-md-12
      - if require_current_password
        %h1.current_password Bisheriges Passwort
        %div
          Aus Sicherheitsgründen fragen wir hier nocheinmal dein
          %strong bisheriges Passwort
          ab:
          = f.label :current_password, "Bisheriges Passwort"
          %span.input-group
            %span.input-group-addon= icon :key
            = f.password_field :current_password, class: 'form-control', placeholder: 'Bisheriges Passwort', autofocus: true
          %p.right
            = link_to 'Ich habe mein bisheriges Passwort vergessen. Ich benötige ein neues Passwort per E-Mail.', forgot_password_user_path(user_account.user), method: :put, class: 'send_me_a_new_password_via_email'

      %h1.change_password Neues Passwort
      %div
        .password_and_password_confirmation
          #vue-change-password-app.vue-app
            = f.label :password, t(:new_password)
            %vue-password-field-with-strength-meter{name: "user_account[password]", placeholder: "Neues Passwort hier eingeben", css_class: 'form-control'}

          %div
            = f.label :password_confirmation, "Neues Passwort bestätigen"
            = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Neues Passwort nocheinmal eingeben'

      %h1.confirm_password_change Bestätigen
      %div

        %span.input-group
          %span.input-group-addon
            %input(id="user_account_agreement" type="checkbox")
          %span.input-group-addon
            = f.label(:agreement, t(:i_agree_i_do_not_use_the_same_password_on_other_services))

            %p Bitte ignoriere diese Pflicht nicht. Du schützt damit die Daten Deiner Bundesbrüder!
          %span.input-group-addon
            .thanks.hidden Danke!

        %p.requirements_not_met_yet.alert.alert-danger
          Die Voraussetzungen zum Ändern des Passwortes sind noch nicht erfüllt! Entweder ist das Passwort noch nicht stark genug oder du hast noch nicht bestätigt, dass du das Passwort bei keinem anderen Dienst verwendest.
        .submit_confirmation
          %p Bitte klicke nun auf den folgenden blauen Bestätigen-Knopf, um die Änderung deines Passwortes einzuleiten.
          %p= f.submit t(:submit_changed_password), class: 'btn btn-primary btn-large confirm right'

      %h1
        %a{name: 'generated_passwords'} Generierte Passwörter
      %div
        %h2 pwgen
        Hier eine Auswahl mittels
        %a{href: 'https://wiki.ubuntuusers.de/pwgen/'} pwgen
        phonetisch generierter Passwörter.
        %p~ ("<pre><code>" + "$ pwgen 24 --num-passwords=48 -C\n\n" + `pwgen 24 --num-passwords=48 -C` + "</code></pre>").html_safe

        %h2 bashpass
        Hier eine Auswahl mittels
        %a{href: 'https://github.com/fiedl/your_platform/tree/master/vendor/scripts/bashpass'} bashpass
        generierter Passwörter in Anlehnung an die unten stehende Karikatur.
        %p~ ("<pre><code>" + "$ #{BashpassPassword.bashpass_command}\n\n" + 24.times.collect { BashpassPassword.new }.join("\n") + "</code></pre>").html_safe

      %h1 Karikatur
      %div
        %a{href: 'https://xkcd.com/936'}
          = image_tag 'https://imgs.xkcd.com/comics/password_strength.png'

      %h1 Hinweise zur Verschlüsselung
      %div
        %p
          Die Passwörter werden auf der Plattform in einer degenerierten Form
          = "(#{link_to 'bcrypt', 'https://de.wikipedia.org/wiki/Bcrypt'})".html_safe
          gespeichert, sodass sie von niemandem ausgelesen werden können.
        %p
          Bitte achte aber darauf, dass du dein Passwort niemals an andere Personen weitergibst, auch nicht zur Hilfestellung bei der Arbeit mit der Plattform!
