%dl
  %dt
    Identifikation möglich mit folgenden Daten:
  %dd
    %dl
      - for attribute in User.attributes_used_for_identification
        %span
          %dt
            = t attribute.to_s
          %dd
            - if attribute.to_s == 'name'
              %span.first_and_last_name
                = best_in_place @user, :first_name
                = best_in_place @user, :last_name
            - else
              = best_in_place @user, attribute.to_sym
    
.show_only_in_edit_mode
  %dl
    - if can? :manage, @user
      %dt
        Zugang zur Plattform
      %dd
        = "Der Zugang zur Plattform (Benutzerkonto) wurde erstellt am #{localize(@user.account.created_at)}. Zuletzt wurde am #{localize(@user.account.updated_at)} ein neues Passwort per E-Mail übersandt."
      %dt
        = t('password') + ':'
      %dd
        = button_to t(:send_new_password), forgot_password_user_path(@user.id), method: :put, :class => 'btn btn-success'
      %dt
        Zugang zur Plattform sperren:
      %dd
        = button_to t(:delete_account), user_account_path(@user.account.id), :method => :delete, :class => 'btn btn-danger'
        (Dies sperrt nur den Zugang zur Plattform. Alle Daten bleiben erhalten.)
