- if can? :create_page_for, @blog
  = link_to blog_posts_path(parent_id: @blog.id), method: 'post', class: 'btn btn-default' do
    = create_icon
    = t :create_blog_post_in_str, str: @blog.title

.widget
  %h4= t :images
  = render partial: 'blogs/image_collection'