= form_tag search_term_report_path, method: 'get' do
  = select_tag :group_id, options_for_select(Corporation.all.collect { |corporation| [corporation.title, corporation.id] }, term_report.group_id)
  = select_tag :year, options_for_select((1900..Time.zone.now.year).collect { |year| [year, year] }, term_report.term.year)
  = select_tag :term_type, options_for_select([["Sommmersemester", "Terms::Summer"], ["Wintersemester", "Terms::Winter"], ["Ganzes Jahr", "Terms::Year"]], term_report.term.type)
  = submit_tag("OK")