= render partial: 'statistics/tabs', locals: {active: 'term_reports'}

= box do
  - content_for(:box_title) { current_title }
  - content_for :box_filter do
    = render partial: 'select_form'
  - content_for :box_tools do
    - if term
      .download.tool.btn-group
        %button.btn.btn-default.dropdown-toggle{type: 'button', data: {toggle: 'dropdown'}}
          = icon 'list-alt'
          = t :download_list
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to export_term_reports_path(term_id: term.id, format: 'xls') do
              = xls_icon
              = t(:excel_list)
            = link_to export_term_reports_path(term_id: term.id, format: 'csv') do
              = csv_icon
              = t(:csv_list)
  - content_for :box_body do
    %table.datatable.term_reports
      %thead
        %tr
          %th= t :corporation
          %th= t :term
          %th= t :contributors
          %th= t :status
          %th= t :status_changed_at
          - term_report_columns_to_show_on_index.each do |column|
            %th= t column, scope: 'term_report_columns_short'
      %tbody
        - term_reports.each do |term_report|
          %tr
            %td= link_to term_report.group.name, term_report_path(term_report)
            %td= link_to term_report.term.to_s, term_report_path(term_report)
            %td
              - term_report.contributors.each do |user|
                = link_to(user) do
                  = user_avatar user, size: 24, title: user.title
            %td
              - if term_report.accepted_at
                .label.label-success= t :accepted
              - elsif term_report.rejected_at
                .label.label-danger= t :rejected
              - elsif term_report.submitted_at
                .label.label-warning= t :submitted
            %td
              - if term_report.accepted_at
                = l(term_report.accepted_at.to_date)
              - elsif term_report.rejected_at
                = l(term_report.rejected_at.to_date)
              - elsif term_report.submitted_at
                = l(term_report.submitted_at.to_date)
            - term_report_columns_to_show_on_index.each do |column|
              %td= term_report.send column
