%h1= t(:change_password)
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div Currently waiting confirmation for: = resource.unconfirmed_email

  %div
    = f.label :password, t(:new_password)
    %i= t(:change_password_blank_notice)
    %br/
    = f.password_field :password, :autocomplete => "off", :autofocus => true
  %div.password_strength_container{:data => { min_score: 4, password_strength_advice: t('password_strength.advice'), score_descriptions: t([:s0, :s1, :s2, :s3, :s4], scope: 'password_strength.score_descriptions'), user_inputs: %w(wingolf kanne bier bierjunge bundesbruder bibel gott), triggerwords: [['[Bb]ierjunge[!]*', 'hängt!', 'doppelt!'],['correcthorsebatterystaple','lol',"Whoa there, don't take advice from a webcomic too literally"], ['Tr0ub4do[u]?r&3','lol','Guess again']] }}
  %div
    = f.label :password_confirmation, t(:confirm_new_password)
    = f.password_field :password_confirmation

  %div
    = f.label :current_password, t(:current_password)
    %i= t(:change_password_current_password_notice)
    %br/
    = f.password_field :current_password
  %div
    %input(id="user_account_agreement" type="checkbox")
    = f.label(:agreement, t(:i_agree_i_do_not_use_the_same_password_on_other_services))

  %div= f.submit t(:submit_changed_password)

=# link_to "Back", :back
= javascript_include_tag 'password_strength', :type => 'text/javascript', :charset => 'utf-8'
:javascript
  var validate = function () { return $('#user_account_agreement').prop('checked'); };
  PasswordStrength.watch("#user_account_password", "#user_account_password_confirmation", validate);
