- set_title t :change_password

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|

  .col2
    %h1 Welches Passwort soll ich wählen?
    %div
      %p Denke an eine Situation, an die du dich erinnern oder die du dir merken kannst, entnehme vier Schlagwörter und verbinde sie mit Leerzeichen.
      %p
        %strong Gutes Passwort:
        %code.has_tooltip{title: 'Die vier Begriffe zusammen ergeben das gute Passwort!'} kneipe lustig knödel gelungen
        (man braucht mehrere Jahre zum Knacken)
      %p
        %strong Schlechtes Passwort:
        %code
          %strike.has_tooltip{title: 'Für diejenigen, die diese Seite nur überfliegen, haben wir das schlechte Passwort vorsorglich durchgestrichen.', data: {placement: 'bottom'}} k4nn3!
        (man braucht 27 Sekunden zum Knacken)
      %p
        Achte bitte darauf, dass du 
        %strong für jeden Dienst ein eigenes Passwort
        verwendest. 
        Wenn der Zugang zu einem System geknackt wird, sind dann die übrigen Dienste nach wie vor sicher.
        Du kannst entweder händisch ein Passwort-Buch führen oder ein Schlüsselbund-Programm verwenden.

  .col1
    %h1.right Weitere Informationen
    %div
      %ol
        %li
          %a{href: 'https://xkcd.com/936'} xkcd-Comic zum Thema Passowort-Stärke
          (englischsprachig)
        %li
          %p
            %a{href: 'https://www.bsi-fuer-buerger.de/BSIFB/DE/MeinPC/Passwoerter/passwoerter.html'} Empfehlungen des Bundesamtes für Sicherheit in der Informationstechnik (BSI)
          %p 
            Lesenswert sind die Hinweise zum Umgang mit Passwörtern.
            Deren Empfehlungen zur Passwort-Wahl sind aber ein bisschen veraltet.
  
  %h1.current_password Bisheriges Passwort
  %div
    Aus Sicherheitsgründen fragen wir hier nocheinmal dein
    %strong bisheriges Passwort
    ab:
    = f.label :current_password, "Bisheriges Passwort"
    %span.input-group
      %span.input-group-addon= icon :key
      = f.password_field :current_password, class: 'form-control', placeholder: 'Bisheriges Passwort', autofocus: true
    
  %h1.change_password Neues Passwort
  %div
  
    = devise_error_messages!
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div Currently waiting confirmation for: = resource.unconfirmed_email
      
    = f.label :password, t(:new_password)
    %span.input-group
      %span.input-group-addon= icon :key
      = f.password_field :password, :autocomplete => "off", class: 'form-control', placeholder: 'Neues Passwort hier eingeben'
      %span.input-group-addon
        %div.password_strength_container{:data => { min_score: 4, password_strength_advice: t('password_strength.advice'), score_descriptions: t([:s0, :s1, :s2, :s3, :s4], scope: 'password_strength.score_descriptions'), user_inputs: %w(wingolf kanne bier bierjunge bundesbruder bibel gott), triggerwords: [['[Bb]ierjunge[!]*', 'hängt!', 'doppelt!'],['correcthorsebatterystaple','lol',"Whoa there, don't take advice from a webcomic too literally"], ['Tr0ub4do[u]?r&3','lol','Guess again']] }}

    = f.label :password_confirmation, "Neues Passwort bestätigen"
    %span.input-group
      %span.input-group-addon= icon :key
      = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Neues Passwort nocheinmal eingeben'
    
  %h1.confirm_password_change Bestätigen
  %div

    %span.input-group
      %span.input-group-addon
        %input(id="user_account_agreement" type="checkbox")
      %span.input-group-addon
        = f.label(:agreement, "Ich versichere, dass ich das Passwort für keinen anderen Dienst verwende und es niemals weitergebe.")
        
        %p Bitte ignoriere diese Pflicht nicht. Du schützt damit die Daten Deiner Bundesbrüder!
      %span.input-group-addon
        .thanks.hidden Danke!
        
    %p Bitte klicke nun auf den folgenden blauen Bestätigen-Knopf, um die Änderung deines Passwortes einzuleiten.
    %p= f.submit 'Passwort-Änderung bestätigen', class: 'btn btn-primary btn-large confirm right'
    
  %h1 Karikatur
  %div
    %a{href: 'https://xkcd.com/936'}
      = image_tag 'http://imgs.xkcd.com/comics/password_strength.png'

  %h1 Hinweise zur Verschlüsselung
  %div
    %p 
      Die Passwörter werden auf der Plattform in einer degenerierten Form
      = "(#{link_to 'bcrypt', 'http://de.wikipedia.org/wiki/Bcrypt'})".html_safe
      gespeichert, sodass sie von niemandem ausgelesen werden können.
    %p
      Bitte achte aber darauf, dass du dein Passwort niemals an andere Personen weitergibst, auch nicht zur Hilfestellung bei der Arbeit mit der Plattform!

= javascript_include_tag 'password_strength', :type => 'text/javascript', :charset => 'utf-8'
:javascript
  var validate = function () { return $('#user_account_agreement').prop('checked'); };
  PasswordStrength.watch("#user_account_password", "#user_account_password_confirmation", validate);

