%h1= @title
%div
  - if not @results
    %p= t :no_results_found
    - if current_user.nil?
      %p Sie sind nicht am System angemeldet.
      - session['return_to_after_login'] = request.fullpath
      %p= link_to "Anmelden", new_user_account_session_url, class: 'btn btn-primary'

- if @users
  %h1= t :found_users
  %div
    %ul
      .users_found
        - for user in @users
          %li
            = link_to user do
              = render partial: 'users/user_title', locals: {user: user}
- if @events
  %h1= t :events
  %div
    %ul
      - @events.each do |event|
        %li= link_to event.title, event

- if @groups
  %h1= t :found_groups
  %div
    %ul
      - for object in @groups
        %li= link_to object.title, object

- if @pages
  %h1= t :found_pages
  %div
    %ul
      - for object in @pages
        %li= link_to object.title, object

- if @posts
  %h1= t :found_posts
  %div
    %ul
      - for object in @posts
        %li= link_to object.title, object

- if @large_map_address_fields.try(:any?)
  %h1.large_map.section= t :map
  .group_map
    .large_map_section
      = map_of_address_profile_fields @large_map_address_fields, with_info_window: true


