%h1= @title
%div
  - if not @results
    %p= t :no_results_found

- if @users
  %h1= t :found_users
  %div
    %ul
      .users_found
        - for user in @users
          %li
            = link_to user do
              = render partial: 'users/user_title', locals: {user: user}
- if @events
  %h1= t :events
  %div
    %ul
      - @events.each do |event|
        %li= link_to event.title, event
        
- if @groups
  %h1= t :found_groups
  %div
    %ul
      - for object in @groups
        %li= link_to object.title, object
        
- if @pages
  %h1= t :found_pages
  %div
    %ul
      - for object in @pages
        %li= link_to object.title, object

- if @large_map_address_fields.try(:any?)
  %h1.large_map.section= t :map
  .group_map
    .large_map_section
      = address_fields_map( @large_map_address_fields )


