%h1.issues= t(:administrative_issues) + " (#{@issues.count})"
%div
  %a#rescan.btn.btn-default.right{href: "?rescan=#{current_role_view == 'global_admin' ? 'all' : 'mine'}"}
    = icon('refresh')
    = t(:rescan)

- @issues.each do |issue|
  - if issue.reference.kind_of? ProfileField
    %h1= issue.reference.profileable.title
    %div
      .col-sm-6
        .context_container
          %p
            = link_to issue.reference.profileable.title, issue.reference.profileable
            - if issue.reference.profileable.phone_field.try(:value).present?
              %br
              = "#{issue.reference.profileable.phone_field.label}: #{issue.reference.profileable.phone_field.value}"
        .description-container
          - if issue.resolved_at
            = t(:issue_edited_at)
            = localize(issue.resolved_at)
          - else
            %p
              %strong= t(issue.title)
            %p= t(issue.description)
        - if issue.reference.respond_to?(:original_value) && issue.reference.value != issue.reference.original_value
          .original_value_container
            %strong=t :original_value
            %p= simple_format issue.reference.original_value
      .col-sm-6
        .reference_container
          = render partial: 'profile_fields/profile_field_value', locals: {profile_field: issue.reference}
