- form || raise('no form object given')
- builder ||= form

%tr
  %td.event_starts_at= builder.text_field :localized_start_at
  %td.event_name= builder.text_field :name
  %td.event_location= builder.text_field :location
  - semester_calendar_check_box_columns.each do |column_name|
    %td= builder.check_box column_name
  %td
    - # http://railscasts.com/episodes/196-nested-model-form-revised
    = builder.hidden_field :_destroy
    = link_to '#', class: 'btn btn-danger btn-xs destroy_semester_calendar_event' do
      = icon :trash
