.col-sm-8.col-xs-12
  %h1.semester_calendars= current_title
  %div
    .semester
      = form_tag semester_calendars_path, method: 'get' do
        = t :term
        = collection_select :semester_calendar, :term, semester_calendar_terms_hash, :last, :first, selected: params[:term]
        = array_select_tag :semester_calendar, :year, (Time.zone.now.year - 20)..(Time.zone.now.year + 2), selected: params[:year]

    %ul.semester_calendars
      - @semester_calendars.each do |semester_calendar|
        %li
          %strong= link_to "#{semester_calendar.group.title} #{semester_calendar.title(locale: current_user.locale)}", semester_calendar
          %small
            = link_to "iCal", group_events_url(group_id: semester_calendar.group.id, public: true, format: 'ics', protocol: 'webcal', token: current_user.account.auth_token)
            |
            - if semester_calendar.attachments.any?
              = link_to "PDF", semester_calendar.attachments.last.file_url
          %br
          %small
            = "#{t(:semester_calendar_updated_at)}:"
            = localize semester_calendar.updated_at.to_date

.col-sm-4.col-xs-12
  - if can? :create, SemesterCalendar
    %h1= t :enter_semester_calendar
    %div
      - if @corporation_of_the_current_officer
        = link_to "#{t(:new_semester_calendar)}: #{@corporation_of_the_current_officer.title}", group_semester_calendars_path(group_id: @corporation_of_the_current_officer.id), method: 'post', turbolinks: true, class: 'btn btn-default'
      - else
        = link_to t(:new_semester_calendar), new_semester_calendar_path, class: 'btn btn-default'

  - if @public_events.any?
    %h1.public_events
      = t :events_from_the_global_website
      .tool.public_ical_feed
        = surround "(", ")" do
          = link_to "iCal", public_events_url(protocol: 'webcal', format: 'ics')
    %div
      = render partial: 'events/events_lis', locals: {events: @public_events}
