.semester_calendar_info
  %p.semester= semester_calendar.title
  - if semester_calendar.respond_to?(:senior) && semester_calendar.senior
    %p.senior
      Senior:
      = link_to_user_with_phone_number semester_calendar.senior
  - if semester_calendar.respond_to?(:fuxmajor) && semester_calendar.fuxmajor
    %p.fuxmajor
      Fuxmajor:
      = link_to_user_with_phone_number semester_calendar.fuxmajor
  - if semester_calendar.respond_to?(:kneipwart) && semester_calendar.kneipwart
    %p.kneipwart
      Kneipwart:
      = link_to_user_with_phone_number semester_calendar.kneipwart
  - if semester_calendar.current? && semester_calendar.officer_group(:senior) && can?(:update_memberships, semester_calendar.officer_group(:senior))
    %p.change_officers
      = link_to t(:enter_new_officers), group_officers_path(group_id: semester_calendar.group.id)