- semester_calendar || raise(ActionController::ParameterMissing, 'no semester_calendar given')
- attachment ||= semester_calendar.attachments.last

#attachments.semester_calendar_pdf
  - if semester_calendar.attachments.none?
    %p= t :semester_calendars_no_pdf_uploaded

  - elsif attachment
    = link_to attachment.file.url do
      %p= image_tag(attachment.thumb_path)
      %p= "#{semester_calendar.group.title}: #{semester_calendar.title}"
    %p
      %small= "#{t(:uploaded_at)} #{localize attachment.updated_at.to_date}"

    - if can? :create_attachment_for, semester_calendar
      %small
        %a.replace_semester_calendar_pdf{href: '#'}= t :upload_new_version

  - if can? :create_attachment_for, semester_calendar
    #new_attachment= render partial: 'attachments/drop_field', locals: {parent: semester_calendar, type: :pdf}
