= render partial: 'groups/tabs', locals: {active: 'events'}

%h1
  = current_title
  .save.tool
    %a{href: '#', class: 'btn btn-primary save_semester_calendar_button'}= t :save
%div.semester_calendar
  .semester
    = form_for @semester_calendar, url: update_term_and_year_semester_calendar_path(@semester_calendar), method: 'patch', remote: true do |f|
      = t :term
      = f.select :term, SemesterCalendar.terms.keys.map { |term| [t(term), term] }
      = f.select :year, (Time.zone.now.year - 10)..(Time.zone.now.year + 10)

  .edit_table
    = render partial: 'semester_calendars/edit_table', locals: {semester_calendar: @semester_calendar}