- @hide_vertical_nav = true  # in order to have more space for editing

= render partial: 'groups/tabs', locals: {active: 'events'}

%h1
  = current_title
  .save.tool
    %a{href: '#', class: 'btn btn-primary save_semester_calendar_button'}= t :save
%div.semester_calendar
  .semester
    - if can? :change_term, @semester_calendar
      = form_for @semester_calendar, url: update_term_and_year_semester_calendar_path(@semester_calendar), method: 'patch', remote: true do |f|
        = t :term
        = f.select :term, semester_calendar_terms_hash
        = f.select :year, (Time.zone.now.year - 10)..(Time.zone.now.year + 10)
    - else
      = "#{t(:term)}: #{@semester_calendar.term_to_s(current_locale)}"

  .edit_table
    = render partial: 'semester_calendars/edit_table', locals: {semester_calendar: @semester_calendar}