= render partial: 'groups/tabs', locals: {active: 'events'}

.col-sm-8.col-xs-12
  %h1.semester_calendar
    = current_title
    - if can? :update, @semester_calendar
      .edit-semester-calendar.tool
        = link_to t(:edit), edit_semester_calendar_path(@semester_calendar), class: 'btn btn-default'
    .back-to-index.tool
      = link_to t(:show_all), group_semester_calendars_path(group_id: @group.id), class: 'btn btn-default'
  %div
    %p.semester= @semester_calendar.title(locale: current_user.locale)
    %ul.semester_calendar
      - @semester_calendar.events.sort_by { |event| event.start_at }.group_by { |event| event.start_at.month }.each do |month, events|
        %li.month_name
          %strong
            = I18n.t('date.month_names')[month]
            = events.first.start_at.year
        - events.each do |event|
          %li{class: "#{event.publish_on_global_website ? 'global_event' : ''} #{event.publish_on_local_website ? 'local_event' : ''} #{event.start_at.past? ? 'past_event' : ''}"}
            %small= localize event.start_at
            %br
            = link_to event.title, event

.col-sm-4.col-xs-12
  %h1.semester_calendar_pdf PDF
  %div
    = render partial: 'semester_calendars/pdf', locals: {semester_calendar: @semester_calendar}

  %h1= t :offices
  %div
    = render partial: 'semester_calendars/info_section', locals: {semester_calendar: @semester_calendar}

