- # Locals:
- #  - memberships

.alert.alert-warning
  %p
    %strong Besondere Sorgfalt geboten:
    Die Mitgliedschaftszeiträume der direkten Mitgliedschaften können durch Klick auf das Datum bearbeitet werden. Hierbei wird allerdings keinerlei Prüfung der Plausibilität vorgenommen, sondern direkt die Datenbank bearbeitet. Bitte äußerste Vorsicht walten lassen.
  %p
    Abgeleitete Informationen werden erst nach einem Neuladen angezeigt. Abgeleitete Informationen, z.B. Aktivitätszahlen, können mit (wenigen Minuten) Verzögerung angezeigt werden.  

%table.datatable.memberships
  %thead
    %tr
      %th Id
      %th Gruppe
      %th Pfad
      %th Mitglied seit
      %th Mitglied bis
      %th Direkte Mitgliedschaft
      %th Löschen
  %tbody
    - memberships.each do |membership|
      %tr{class: ((membership.group && membership.currently_valid?) ? "currently_valid" : "currently_invalid")}
        %td.copy-to-clipboard{title: "UserGroupMembership.now_and_in_the_past.find(#{membership.id})"}= membership.id
        %td
          - if membership.group
            = link_to membership.group.name, membership.group
          - else
            .alert.alert-danger
              %strong GRUPPE FEHLT!
              (Datenfehler)
        %td
          - if membership.group
            %ul
              - membership.group.nav_node.ancestor_navables.each do |ancestor|
                %li= link_to ancestor.title, ancestor
        %td
          - if membership.group
            - if membership.direct?
              = best_in_place membership, :valid_from_localized_date
            - else
              = localize(membership.valid_from.to_date) if membership.valid_from
          - else
            = localize(membership.read_attribute(:valid_from).to_date) if membership.read_attribute(:valid_from)
        %td
          - if membership.group
            - if membership.direct?
              = best_in_place membership, :valid_to_localized_date
            - else
              = localize(membership.valid_to.to_date) if membership.valid_to
          - else
            = localize(membership.read_attribute(:valid_to).to_date) if membership.read_attribute(:valid_to)
        %td= membership.direct? ? "<strong>direkt</strong>".html_safe : "count: #{membership.count}"
        %td
          - if membership.destroyable? and can?(:destroy, membership)
            = remove_button membership, show_only_in_edit_mode: false, confirm: "Dies löscht den Eintrag unwiderbringlich! Dies soll nicht dazu verwendet werden, um eine Mitgliedschaft zu beenden, sondern NUR, WENN es sich um einen FEHLERHAFTEN EINTRAG handelt. Soll der Eintrag wirklich gelöscht werden?"