= render partial: 'groups/tabs', locals: {active: 'members'}

-# %h1 Mitglied werden
-# %div
-#   - if @own_memberships.now.count == 0
-#     %a.btn.btn-success Beitreten
-#   - elsif @own_memberships.now.direct.count > 0
-#     %a.btn.btn-danger Gruppe verlassen
-#   - @own_memberships.each do |membership|
-#     %p
-#       Mitglied seit
-#       = localize membership.valid_from.to_date if membership.valid_from
-#       = "bis #{localize membership.valid_to.to_date}" if membership.valid_to

#members
  = box class: 'section.members' do
    - content_for :box_title do
      = best_in_place_if can?(:rename, group), group, :name
      = ": #{t :members}"
      %span.members_count (#{member_table_rows.count})
    - content_for :box_tools do
      - if can?(:use, :term_reports) && group.corporation
        .tool.term_reports
          = link_to group_term_report_path(group), class: 'btn btn-default' do
            = fa_icon 'bar-chart'
            = t(:term_report)
      - if can? :renew_cache, group
        .tool.renew_cache= renew_cache_button(group)
      = render partial: 'groups/export_button'
      - if can? :update_members, group
        = link_to group_member_data_summaries_path(group), class: 'btn btn-default right' do
          = icon 'folder-open'
          = t(:data_administration)
      - if can? :manage_memberships_manually, group
        = link_to t(:memberships), group_memberships_path(group), class: 'btn btn-default right'
    - content_for :box_body do
      %span#group_members
        .child_users
          = render partial: 'groups/member_list', locals: {group: group, member_table_rows: member_table_rows}

- if can? :add_member_to, group
  %h1= t :add_members_manually
  %div.add_group_members
    = form_for new_membership, url: group_members_memberships_path(format: 'json') do |form|
      %span.add_group_member_name_field.left
        = form.text_field :user_title, 'data-autocomplete-url' => titles_api_v1_users_path, :class => 'user-select-input new-membership', placeholder: t(:enter_last_name_wait_and_select_from_list)
      %span.add_group_member_tools.right
        = form.date_select :valid_from, value: Date.today, class: 'valid-from-field', start_year: 1950, end_year: Time.now.year + 5
        = form.submit t(:add), class: 'btn btn-primary add-user-button'

%h1.group_members_map= t :map
%div
  .google_maps.with_info_window{data: {datatable: 'table.members'}}