/ Page title
.page-header
  .row.align-items-center
    .col-auto
      %h2.page-title
        = current_title

.row
  .col-lg-9
    .card
      .card-body
        %vue-group-members-table{':rows': member_table_rows.to_json}

  .col-lg-3
    .card
      .card-body
        - if can? :add_group_member, group
          = link_to new_group_member_path(group_id: group.id), class: 'btn btn-success' do
            = t :add_member

        - if can? :export_member_list, group
          %h3.mt-4 Export
          = render partial: 'groups/export_button'

        - if group.corporation
          %h3.mt-4 Statistik
          .tool.term_reports
            = link_to group_term_report_path(group.corporation), class: 'btn btn-outline-secondary' do
              = fa_icon 'bar-chart'
              = t(:term_report)

        %h3.mt-4 Mitgliederverwaltung
        - if can? :renew_cache, group
          .tool.renew_cache= renew_cache_button(group)
        - if can? :update_members, group
          = link_to group_member_data_summaries_path(group), class: 'btn btn-outline-secondary' do
            = icon 'folder-open'
            = t(:data_administration)
        - if can? :manage_memberships_manually, group
          = link_to t(:memberships), group_memberships_path(group), class: 'btn btn-outline-secondary'

    - if can? :add_group_member_manually, group
      .card
        .card-body
          %div.add_group_members
            %vue-add-group-member-form{':group': group.to_json}

    - if group.child_groups.any?
      .card
        .card-body
          %h3 Untergruppen
          = group_tree(group) do |child_group|
            - link_to child_group.name, group_members_path(child_group)

-#-# %h1 Mitglied werden
-#-# %div
-#-#   - if @own_memberships.now.count == 0
-#-#     %a.btn.btn-success Beitreten
-#-#   - elsif @own_memberships.now.direct.count > 0
-#-#     %a.btn.btn-danger Gruppe verlassen
-#-#   - @own_memberships.each do |membership|
-#-#     %p
-#-#       Mitglied seit
-#-#       = localize membership.valid_from.to_date if membership.valid_from
-#-#       = "bis #{localize membership.valid_to.to_date}" if membership.valid_to
-#
-#-#%h1.group_members_map= t :map
-#-#%div
-#-#  .google_maps.with_info_window{data: {datatable: 'table.members'}}