-# This template represents a profile field, which can be shown on profiles of users or groups.
-# A profile field can either have just label and value or it can have child profile fields
-# in order to display complex information such as bank account information.
-#
- css_class ||= nil
- profile_field_css_class = profile_field.parent ? 'attribute profile_field profile_field_child' : 'attribute profile_field profile_field_parent'
- profile_field_css_class += " #{profile_field.key}" if profile_field.parent_id
- profile_field_css_class += " #{css_class}" if css_class
- input_type = :input
- input_type = :textarea if %w(ProfileFieldTypes::Address ProfileFieldTypes::Description ProfileFieldTypes::About).include? profile_field.type
-# # For the moment, no 'date' type. The date selector does not work properly with edit_mode.
-# input_type = 'date' if profile_field.type == "ProfileFieldTypes::Date"
- no_remove ||= false
- lock_label ||= false

%li{:class => profile_field_css_class, id: "profile_field_id_#{profile_field.id}" }

  - # remove button
  - unless no_remove
    %span.button-wrapper
      - unless profile_field.parent
        - if can? :destroy, profile_field
          = remove_button(profile_field)

  - # label
  %span.label-wrapper
    - if profile_field.parent || lock_label || cannot?(:update, profile_field)
      %span.label.profile_field_label= profile_field.label
    - else
      = best_in_place profile_field, :label, class: 'profile_field_label label', html_attrs: { placeholder: I18n.t(profile_field.underscored_type) }

  - # value
  %span.value-wrapper
    = render partial: 'profile_fields/profile_field_value', locals: {profile_field: profile_field}