%li{:class => profile_field.parent ? 'profile_field_child' : 'profile_field_parent', id: "profile_field_id_#{profile_field.id}" }
  %span{class: 'profile_field'}
    - input_type = 'input'
    - input_type = 'textarea' if %w(ProfileFieldTypes::Address ProfileFieldTypes::Description).include? profile_field.type   
    - unless profile_field.parent
      - if can? :destroy, profile_field
        = remove_button(profile_field)
    - if profile_field.parent
      %span.label= profile_field.label
    - else
      - if can? :update, profile_field
        = best_in_place profile_field, :label, classes: 'label'
      - else
        = profile_field.label
    - if profile_field.type == ProfileFieldTypes::Address.name
      = render partial: 'profile_fields/wingolfspost_flag_switch', locals: { profile_field: profile_field }
    - if input_type == 'textarea'
      %br
    - if profile_field.children.count == 0
      - if can? :update, profile_field
        = best_in_place profile_field, :value,
                          type: input_type,
                          display_as: :display_html,
                          classes: 'value'
      - else
        = profile_field.display_html
    - if profile_field.children.count > 0
      %ul
        - profile_field.children.each do |child_field|
          = render partial: 'profile_fields/profile_field', object: child_field
    /= render partial: 'shared/flags', locals: { flagable: profile_field }
