- if @blog_post.video?
  - content_for :custom_header do
    = render partial: 'blog_posts/cinema_bar', locals: {blog_post: @blog_post}

.single-post
  = render @blog_post

  = render partial: 'blog_posts/tag_cloud', locals: {blog_post: @blog_post}
  = render partial: 'blog_posts/related_posts', locals: {blog_post: @blog_post}
  = render partial: 'blog_posts/comments', locals: {blog_post: @blog_post}
