-#- offices = group.descendant_groups.flagged([:senior, :fuxmajor, :kneipwart])
- offices = group.important_officer_groups.first(3) unless offices.present?
- offices = group.officers_groups.first(3) unless offices.present?
- if offices.present? || can?(:update, group)
  .card
    .card-body
      .row
        - offices.each do |office|
          - for officer in office.members
            .col-sm-6.col-md-12.row.row-sm.mb-3.align-items-center
              .col-auto
                = user_avatar(officer)
              .col
                .text-body.d-block= officer.title
                %small.d-block.mt-n1.text-muted= office.name
                - if email = office.email
                  %small.d-block.mt-n1= mail_to email, email, class: 'text-muted'
    - if can? :update, group
      .card-footer
        = link_to "Amtsträger ändern", group_officers_path(group_id: group.id), class: "btn btn-sm btn-white"
