.card.card-profile
  %vue-editable-image{src: group.avatar_background_path, edit_alignment: "top right", ':editable': can?(:update, group).to_json, img_class: 'card-header', update_url: group_path(group), attribute_name: "group[avatar_background]"}
  .card-body.text-center
    %vue-editable-image{src: group.avatar_path, img_class: "card-profile-img", ':editable': can?(:update, group).to_json, update_url: group_path(group), attribute_name: 'group[avatar]', icon: "fa fa-group fa-2x"}
    %h3.mb-3
      = editable group, :name, editable: can?(:rename, group)

    = editable group, :body, editable: can?(:update, group), type: 'wysiwyg'

    - if (postal_address = group.postal_address).present?
      .with-newlines.pt-0.mt-0.mb-2
        = postal_address
    - if (phone = group.phone).present?
      .mt-0.mb-1
        %span.mr-2= landline_icon
        = link_to phone, "tel:#{phone}"
    - if (email = group.email).present?
      .mt-0.mb-0
        %span.mr-1= mail_icon
        = mail_to email

    - if group.facebook_url || group.instagram_url || group.youtube_url
      .social-links.mt-3
        - if group.facebook_url
          = link_to facebook_icon, group.facebook_url, target: '_blank'
        - if group.instagram_url
          = link_to instagram_icon, group.instagram_url, target: '_blank'
        - if group.youtube_url
          = link_to youtube_icon, group.youtube_url, class: 'text-muted', target: '_blank'

  - if can? :update, group
    .card-footer
      = link_to "Daten ändern", group_path(group), class: "btn btn-sm btn-white"
