%h1= @event.title
%div
  = markup @event.description

  %h2 Wann geht's los?
  %p= localize @event.start_at

  - if @event.end_at
    %p
      Bis:
      = localize @event.end_at

  %h2 Veranstaltungsort
  = @event.location

  %h2 Ansprechpartner
  - @event.contact_people.each do |user|
    %p= mobile_user_link user

.upload_photos
  %h2 Fotos hochladen
  = form_for :photos, url: mobile_photos_path(event_id: @event.id), html: {multipart: true} do |f|
    = file_field_tag :files, label: false, multiple: true, name: 'files[]', accepts: 'image/*'
    = f.submit "Upload!"

.event-documents
  = render partial: 'mobile/partials/documents'

.event-photos
  = render partial: 'mobile/photos/photos', locals: {photos: @event.attachments.by_type("image"), thumbs: @event.attachments.by_type("image")}