%div{style: 'font-family: Helvetica'}
  %p= @user.greeting
  %p= t(:you_have_n_unread_notifications, n: @notifications.count)
  
  %ul
    - @notifications.each do |notification|
      %li{style: 'list-style: none; margin-bottom: 20px; margin-top: 20px'}
        = render notification

  %hr
  %small= "#{t(:notification_service)}, #{app_name}, #{localize(Time.zone.now)}"
  %small= link_to t(:notification_settings), user_settings_url(@user)