- # We need the inline styling for emails.

.notification
  %div{style: 'float: left; margin-right: 10px'}
    - notification.reference.kind_of?(User) || raise(RuntimeError, 'status notification reference should be a User.')
    = user_avatar(notification.reference)
  %div{style: 'overflow: hidden'}
    %small
      = localize(notification.created_at)
    .notification_body
      %p
        %strong= link_to notification.message, notification
    %small
      = user_avatar(notification.author, size: 16)
      = "Eingetragen von: "
      = link_to notification.author.title, notification.author

