- @hide_vertical_nav = true

.row.row-eq-height
  .col.col-sm-9.col-xs-12
    = render @page

  .col.col-sm-3.public_root_events
    %h1#public-root-events-box
      = t(:events)
    %div
      = render partial: 'events/events_lis', locals: {events: @events, show_location_rather_than_group: true}

= draggable_boxes_row(@page) do
  .col.col-sm-6.col-xs-12
    %h1#corporations-map-box= t(:corporation_map_title)
    %div
      = render partial: 'shared/corporation_map'

  - @teaser_box_pages.each do |page|
    .col.col-sm-3.resizable_col= render partial: 'pages/page', locals: {page: page, teaser_box: true}

.row
  = render partial: 'pages/new_page_button', locals: {parent_page: @page}