- if can? :export_member_list, @group
  %div.btn-group.group_export.pull-right
    %a.btn.btn-default.dropdown-toggle(data-toggle="dropdown" href="#")
      = icon 'list-alt'
      = t :download_list
      .caret
    %ul.dropdown-menu.list_export

      %li.nav-header=t :pdf_files
      %li.export_address_labels{data: {modal_body: render(partial: 'groups/address_labels_modal')}}
        = link_to group_path(@group, :format => :pdf), :class => 'address_labels_export_button' do
          = icon :th
          =t :address_labels

      %li.nav-header= "#{I18n.t(:excel_tables)} (XLS)"
      %li
        = link_to group_path(@group, :format => :xls) do
          %img{src: image_path('img/excel2013_file_bw_semitransparent_107.png'), height: 16}
          = t :name_list
      %li
        = link_to group_path(@group, :format => :xls, :list => :birthday_list) do
          %img{src: image_path('img/excel2013_file_bw_semitransparent_107.png'), height: 16}
          = t :birthday_list
      %li
        = link_to group_path(@group, :format => :xls, :list => :address_list) do
          %img{src: image_path('img/excel2013_file_bw_semitransparent_107.png'), height: 16}
          = t :address_list
      %li
        = link_to group_path(@group, :format => :xls, :list => :phone_list) do
          %img{src: image_path('img/excel2013_file_bw_semitransparent_107.png'), height: 16}
          = t :phone_list
      %li
        = link_to group_path(@group, :format => :xls, :list => :email_list) do
          %img{src: image_path('img/excel2013_file_bw_semitransparent_107.png'), height: 16}
          = t :email_list
      %li
        = link_to group_path(@group, :format => :xls, :list => :member_development) do
          %img{src: image_path('img/excel2013_file_bw_semitransparent_107.png'), height: 16}
          = t :member_development

      %li.nav-header= "#{I18n.t(:tables)} (CSV, UTF-8)"
      %li
        = link_to group_path(@group, :format => :csv) do
          = icon 'list-alt'
          = t :name_list
      %li
        = link_to group_path(@group, :format => :csv, :list => :birthday_list) do
          = icon 'list-alt'
          = t :birthday_list
      %li
        = link_to group_path(@group, :format => :csv, :list => :address_list) do
          = icon 'list-alt'
          = t :address_list
      %li
        = link_to group_path(@group, :format => :csv, :list => :phone_list) do
          = icon 'list-alt'
          = t :phone_list
      %li
        = link_to group_path(@group, :format => :csv, :list => :email_list) do
          = icon 'list-alt'
          = t :email_list
      %li
        = link_to group_path(@group, :format => :csv, :list => :member_development) do
          = icon 'list-alt'
          = t :member_development
