- if can? :export_member_list, @group
  %div.btn-group.group_export.pull-right
    %a.btn.btn-default.dropdown-toggle(data-toggle="dropdown" href="#")
      = icon 'list-alt'
      = t :download_list
      .caret
    %ul.dropdown-menu.list_export

      %li.nav-header=t :pdf_files
      - trigger_class = (params[:trigger_export] == 'pdf') ? 'auto_trigger' : ''
      %li.export_address_labels{data: {modal_body: render(partial: 'groups/address_labels_modal')}}
        = link_to group_address_labels_path(@group, :format => :pdf, pdf_type: 'zweckform'), :class => "address_labels_export_button #{trigger_class}" do
          = icon :th
          =t :address_labels
          (Zweckform 3475)
      %li.export_address_labels{data: {modal_body: render(partial: 'groups/address_labels_modal')}}
        = link_to group_address_labels_path(@group, :format => :pdf, pdf_type: 'dpag'), :class => "address_labels_export_button" do
          = icon :th
          =t :address_labels
          (DPAG 70x37)


      %li.nav-header= "#{I18n.t(:excel_tables)} (XLS)"
      %li
        = link_to group_path(@group, :format => :xls) do
          = excel_icon
          = t :name_list
      %li
        = link_to group_path(@group, :format => :xls, :list => :birthday_list) do
          = excel_icon
          = t :birthday_list
      %li
        = link_to group_path(@group, :format => :xls, :list => :special_birthdays) do
          = excel_icon
          = t :special_birthdays
      %li
        = link_to group_path(@group, :format => :xls, :list => :address_list) do
          = excel_icon
          = t :address_list
      %li
        = link_to group_path(@group, :format => :xls, :list => :phone_list) do
          = excel_icon
          = t :phone_list
      %li
        = link_to group_path(@group, :format => :xls, :list => :member_development) do
          = excel_icon
          = t :member_development

      - if can? :export, :wingolfsblaetter_export_format
        %li
          = link_to group_path(@group, :format => :xls, :list => :wingolfsblaetter) do
            = excel_icon
            = t :wingolfsblaetter

      %li.nav-header= "#{I18n.t(:tables)} (CSV, UTF-8)"
      %li
        = link_to group_path(@group, :format => :csv) do
          = csv_icon
          = t :name_list
      %li
        = link_to group_path(@group, :format => :csv, :list => :birthday_list) do
          = csv_icon
          = t :birthday_list
      %li
        = link_to group_path(@group, :format => :csv, :list => :special_birthdays) do
          = csv_icon
          = t :special_birthdays
      %li
        = link_to group_path(@group, :format => :csv, :list => :address_list) do
          = csv_icon
          = t :address_list
      %li
        = link_to group_path(@group, :format => :csv, :list => :dpag_internetmarken) do
          = csv_icon
          = t :address_list_for_dpag_internetmarke
          %small (ISO 8859-1)
      %li.indent
        = link_to group_path(@group, :format => :csv, :list => :dpag_internetmarken_in_germany) do
          = csv_icon
          nur Inland (DE)
      %li.indent
        = link_to group_path(@group, :format => :csv, :list => :dpag_internetmarken_not_in_germany) do
          = csv_icon
          nur Ausland
      %li.indent
        %a.export_list_answers{href: 'https://www.deutschepost.de/de/i/internetmarke-porto-drucken/haeufige-fragen.html'}
          = awesome_icon 'question-circle'
          Hilfe zur DPAG-Internetmarke
      %li
        = link_to group_path(@group, :format => :csv, :list => :phone_list) do
          = csv_icon
          = t :phone_list
      %li
        = link_to group_path(@group, :format => :csv, :list => :member_development) do
          = csv_icon
          = t :member_development
      - if can? :export, :wingolfsblaetter_export_format
        %li
          = link_to group_path(@group, :format => :csv, :list => :wingolfsblaetter) do
            = csv_icon
            = t :wingolfsblaetter
