%table.members.child_users.datatable.display
  %thead
    %tr
      %th=t :last_name
      %th=t :first_name
      %th=t :name_affix
      %th.has_tooltip{title: "Die Spalte 'Seit' zeigt an, seit wann die Person in der Liste '#{group.name}' geführt wird.", data: {placement: 'left'}} Seit
  %tbody
    - member_table_rows.each do |row|
      %tr
        %td
          %strong= link_to row[:last_name], user_path(id: row[:user_id])
        %td= row[:first_name]
        %td= row[:name_affix]
        %td= localize row[:joined_at].to_date if row[:joined_at]
