%table.members.child_users.datatable.display
  %thead
    %tr
      %th=t :last_name
      %th=t :first_name
      %th=t :name_affix
      %th.has_tooltip{title: "Die Spalte 'Seit' zeigt an, seit wann die Person in der Liste '#{@group.name}' geführt wird.", data: {placement: 'left'}} Seit
  %tbody
    - if memberships
      - members = memberships.collect { |m| u = m.user; u.member_since = membership.valid_from.try(:to_date); u }
    - if members
      - members.each do |member|
        %tr.member{data: {profile_fields: member.address_fields_json}}
        %td
          %strong= link_to member.last_name, member
        %td= member.first_name
        %td= member.name_affix
        %td= localize(member.member_since) if member.member_since
