.card
  .card-body
    .row
      - group.officers_groups.each do |office|
        - for officer in office.members
          .col-sm-6.col-md-12.row.row-sm.mb-3.align-items-center
            .col-auto
              = user_avatar(officer)
            .col
              .text-body.d-block= officer.title
              %small.d-block.mt-n1.text-muted= office.name
              %small.d-block.mt-n1.text-muted= officer.phone
              - if email = office.email || officer.email
                %small.d-block.mt-n1.text-muted= email
  - if can? :update, institution
    .card-footer
      = link_to "Amtsträger ändern", group_officers_path(group_id: group.id), class: "btn btn-sm btn-white"