<h1><%= best_in_place @group, :name %></h1>
<p>Gruppenseite dieser Gruppe</p>

<% if @group.token or @group.extensive_name or @group.internal_token %>
<h1><%=t :details %></h1>
<div>
  <dl>
    <dt><%=t :token %></dt><dd><%= best_in_place @group, :token %></dd>
    <dt><%=t :internal_token %></dt><dd><%= best_in_place @group, :internal_token %></dd>
    <dt><%=t :extensive_name %></dt><dd><%= best_in_place @group, :extensive_name %></dd>
  </dl>
</div>
<% end %>

<% if false # Das hat sich wohl erübrigt, (a) durch das Menü, (b) durch die Mitgliederauflistung unterhalb. %>
<h1><%=t :sub_groups %></h1>
<div>
  <ul>
    <% for group in @groups do %>
      <%= group_list_item group %>
    <% end %>
  </ul>
</div>
<% end %>

<h1><%=t :members %> (<%=h @group.descendant_users.count %>)</h1>
<div>
  <% if @group %>
    <span id="group_members">
      <% if @group.child_users.count > 0 %>
        <ul>
          <% for user in @group.child_users do %>
            <li>
	      <%= link_to user.title, user %>
	      <span class="show_only_in_edit_mode">
		<%= workflow_execution_links_for( group: @group, user: user ) %>
	      </span>
	    </li>
          <% end %>
	</ul>
      <% elsif @group.child_groups.count > 0 %>
        <% for child_group in @group.child_groups do %>
          <h2><%= link_to child_group.title, child_group %> (<%=h child_group.descendant_users.count %>)</h2>
	  <ul>
  	    <% for user in child_group.descendant_users do %>
	      <li>
		<%= link_to user.title, user %>
		<span class="show_only_in_edit_mode">
		  <%= workflow_execution_links_for( group: child_group, user: user ) %>
		</span>
	      </li>
	    <% end %>
	  </ul>
	<% end %>
      <% end %>
    </span>
  <% end %>
</div>

<% if @group.officers %>
  <h1><%=t :officers %></h1>
  <span id="officers">
    <dl>
      <% for officer_group in @group.officers %>
        <dt><%= best_in_place officer_group, :name %></dt>
	<dd><%= multiple_users_best_in_place officer_group, :direct_member_titles_string %></dd>
      <% end %>
    </dl>
  </span>
<% end %>

<%= profile_sections_for_profileable @group, [ :contact_information, :bank_account_information, :description ] %>
