<h1><%= @title %></h1>
<p>Gruppenseite dieser Gruppe</p>

<% if @group.token or @group.extensive_name %>
<h1><%=t :details %></h1>
<div>
  <dl>
    <dt><%=t :token %></dt><dd><%=h @group.token %></dd>
    <dt><%=t :extensive_name %></dt><dd><%=h @group.extensive_name %></dd>
  </dl>
</div>
<% end %>

<% if false # Das hat sich wohl erübrigt, (a) durch das Menü, (b) durch die Mitgliederauflistung unterhalb. %>
<h1><%=t :sub_groups %></h1>
<div>
  <ul>
    <% for group in @groups do %>
      <%= group_list_item group %>
    <% end %>
  </ul>
</div>
<% end %>

<h1><%=t :members %> (<%=h @group.descendant_users.count %>)</h1>
<div>
  <% if @group %>
    <% if @group.child_users.count > 0 %>
      <ul>
        <% for user in @group.child_users do %>
          <li><%= link_to user.title, user %></li>
        <% end %>
      </ul>
    <% elsif @group.child_groups.count > 0 %>
      <% for child_group in @group.child_groups do %>
        <h2><%= link_to child_group.title, child_group %> (<%=h child_group.descendant_users.count %>)</h2>
	<ul>
  	  <% for user in child_group.descendant_users do %>
	    <li><%= link_to user.title, user %></li>
	  <% end %>
	</ul>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= profile_sections_for_profileable @group, [ :contact_information ] %>
