%span.avatar.thumbnail.pull-left
  = user_avatar(@user, size: 128)
  .show_only_in_edit_mode
    = form_for @user do |form|
      - auto_trigger_class = params[:trigger_change_avatar] ? 'auto_trigger' : ''
      = form.attachment_field :avatar, direct: true, class: auto_trigger_class
    
    - if @user.avatar_id?
      - # # TODO: Rails 4:
      - # = button_to t(:remove_avatar), user_path(@user), params: {user: {remove_avatar: true}}, method: 'put', class: 'btn btn-default btn-sm remove_avatar'
      = form_for @user, html: {class: 'button_to'} do |form|
        = form.hidden_field :remove_avatar, value: true
        = form.submit t(:remove_avatar), class: 'btn btn-default btn-sm remove_avatar'