- user ||= @user
%div.deceased_modal.modal.fade{class: "deceased-modal-for-user-#{user.id}"}
  - workflow = Workflow.find_by_name('Todesfall')
  - workflow || raise(ActiveRecord::RecordNotFound, 'mark-as-deceased workflow missing. Please call "Workflow.find_or_create_mark_as_deceased_workflow".')
  = form_tag execute_status_workflow_path(workflow, {user_id: user.id}), method: :put, remote: true, class:'deceased_modal_date_of_death' do

    .modal-dialog
      .modal-content
        %div.modal-header
          %a.close{data: {dismiss: 'modal'}, 'aria-label' => 'Close'}
            %span{'aria-hidden' => true} &times;
          %h4= "✟ #{I18n.t(:event_of_death)}"
        %div.modal-body
          = hidden_field_tag :user_id, user.id
          %table
            %tr
              %td=t :person
              %td= user.title
            %tr
              %td
                %label=t :date_of_death
              %td
                = text_field_tag :localized_date_of_death, localize(Time.zone.now.to_date)
        %div.modal-footer
          = submit_tag(I18n.t(:confirm), :class => 'btn btn-primary confirm_event_of_death')
