%h1.aktivmeldung= @title
%div.form
  %legend
    %p= t :enter_details_for_new_user
  
  %p 
    Dieses Formular bitte
    %strong nicht für Bandaufnahmen bzw. Bandverleihungen
    verwenden, da hierdurch sonst doppelte Mitglieder-Einträge entstehen!
    Wende Dich im Zweifel bitte an:
    %a{href: "mailto:support@wingolf.org"} support@wingolf.org

  = semantic_form_for @user, action: :create do |f|
    = f.inputs do
      = f.input :first_name
      = f.input :last_name
      = f.input :email
      = f.input :date_of_birth
      
      %h2 Verbindung
      
      = f.input :add_to_corporation, as: :select, label: t(:register_in), collection: @corporations_of_administrated_aktivitates
      = f.input :aktivmeldungsdatum

      %h2 Kontaktdaten
      
      = f.input :semesteranschrift
      = f.input :heimatanschrift
      = f.input :telefon
      = f.input :mobil
      
      %h2 Benutzerkonto
      
    
      = f.input :create_account, as: :boolean
      //- if @group
      //  - sub_groups = @group.descendant_groups
      //  = f.input( :add_to_group, as: :select, label: t( :register_in ), collection: sub_groups, hint: ( "(" + link_to( @group.name, @group ).html_safe + ")" ).html_safe )
      - if false
        // <span id="gender">
        // <%= f.input :female, as: :select, label: t( :gender ), 
        // collection: [[ t( :male ), false ], [ t( :female ), :true ]], 
        //default: :male 

    = f.actions
  
  .progress.alert.alert-info.hidden
    %strong Aktivmeldung wird eingetragen. Bitte warten.
    Dies kann bis zu zwei Minuten dauern. 
    Danach wirst Du zur Startseite der Plattform weitergeleitet.

  %div.footnotes
    * 
    = t :fields_have_to_be_given


