- set_title "Person eintragen"
%h1.users_new= "Person eintragen"
%div.form

  = semantic_form_for @user, action: :create do |f|

    = f.semantic_errors :state

    = f.inputs do
    
      %h2 Grundlegende Informationen
      
      = f.input :first_name, required: true, validate: true, input_html: { class: 'required' }
      = f.input :last_name, required: true, validate: true, input_html: { class: 'required' }
      
      .gender
        = f.input :female, as: :select, label: t(:gender), collection: [[t(:male), false], [t(:female), :true]], default: :male 
      
      
      %h2 Gruppe
      
      - if @parent_group
        Zu Gruppe hinzufügen:
        = link_to @parent_group.name, @parent_group
        
        = f.input :add_to_group, as: :hidden


      %h2 Kontaktdaten
      
      = f.input :work_address, as: 'text', required: true, validate: true, input_html: { rows: 4, class: 'required' }
      = f.input :email, as: 'email', required: true, validate: true, input_html: { class: 'required' }
      = f.input :phone, as: 'phone'
      = f.input :mobile, as: 'phone', required: true, validate: true, input_html: { class: 'required' }
      
      %h2 Benutzerkonto
      
      = f.input :create_account, as: :boolean

    = f.actions do

      #why_fields_are_required.alert.alert-warning.hidden
        %strong Bitte füllen Sie das Formular vor dem Bestätigen vollständig aus, 
        damit die Kontaktdaten später nicht mühsam nachgereicht werden müssen.
    
      = f.action :submit, label: 'Eintragung Bestätigen', button_html: {class: 'btn btn-large btn-primary'}

  .progress.alert.alert-info.hidden
    %strong Neue Person wird eingetragen. Bitte warten.

  %div.footnotes
    * 
    = t :fields_have_to_be_given


