
- unless @user
  %h1= h @title
  %div
    %p= t :the_requested_user_is_not_listed_in_the_system
    = link_to t(:create_new_user), controller: 'users', action: 'new', alias: @alias

- if @user

  / Name above the General Info Box
  %h1
    - if can? :update, @user
      = best_in_place @user, :first_name
      = best_in_place @user, :last_name
      \ 
      \#{h @user.aktivitaetszahl}
    - else
      = @user.title

  / General Info Box
  %div
    - # #user_workflows
    %span.workflow_triggers.pull-right
      = render partial: 'users/workflow_triggers'
    %table
      %tr
        %td{:width => "20%"}
          %span.thumbnail
            = user_avatar(@user, size: 128)
        %td
          %dl
            %dt= t :name
            %dd
              - if can? :update, @user
                = best_in_place @user, :first_name
                = best_in_place @user, :last_name
              - else
                = @user.name
            %dt.date_of_birth_profile_field.value= t :date_of_birth
            %dd
              - if can? :update, @user
                = best_in_place @user, :localized_date_of_birth #, type: :date
              - else
                = @user.localized_date_of_birth || "-"
          = render partial: 'profiles/profile_section_ul', locals: { section: @user.profile.section_by_title(:general) }
          = render partial: 'users/hidden_flag_switch', locals: { user: @user }


  / Profile Sections
  = profile_sections_to_html(@user.profile.sections)

  / Corporate Vita
  - if @user.corporations.count > 0
    %h1.section.corporate_vita Wingolfitischer Lebenslauf
    %div
      .workflow_triggers.pull-right
        = render partial: 'users/workflow_triggers'
      = corporate_vita_for_user( @user )

  / Groups
  %h1= t( :groups_of ) + " " + h( @user.first_name )
  %div
    = groups_of_user_table @user

  / Events
  - if @user.upcoming_events.present?
    %h1
      Veranstaltungen von #{@user.first_name}
    %div
      = upcoming_events_list_for_user( @user )

  / Relationships
  %h1.section.relationships= t(:relationships)
  %div
    = relationships_of_user_ul @user

  / Communication
  %h1.section.communication= t(:communication)
  %div
    - if can? :manage, @user
      Wingolfsblätter abonniert:
      \#{best_in_place @user, :wingolfsblaetter_abo, type: :select, collection: [['false', I18n.t("no")], ['true', I18n.t("yes")]]}

    = render partial: 'profiles/profile_section_ul', locals: { section: @user.profile.section_by_title(:communication) }

  / Login Data
  %h1.section.access= t(:access_information)
  %div
    - if @user.has_account?
      = render @user.account
    - else
      %p= t :user_has_no_account
      %span.show_only_in_edit_mode
        = link_to t(:create_account), user_accounts_path(:user_id => @user.id), :method => :post
