- tab_pane_class = ""
- if can? :use, :tab_view
  - tab_pane_class = "tab-pane fade"
  %ul.nav.nav-tabs.user
    %li.active
      %a{href: '#general', data: {toggle: 'tab'}}= t :general_user_info_tab
    -#- if can? :use, :merit
    -#  %li
    -#    %a{href: '#merit', data: {toggle: 'tab'}}
    -#      Plattform-Rang
    -#      = beta_badge
    %li
      %a{href: '#contact', data: {toggle: 'tab'}}= t :contact_info_tab
    %li
      %a{href: '#corporate', data: {toggle: 'tab'}}= t :corporate_info_tab
    %li
      %a{href: '#career', data: {toggle: 'tab'}}= t :study_and_work_tab
    %li
      %a{href: '#more', data: {toggle: 'tab'}}= t :more_info_tab

.tab-content.user

  - # General Info Box
  #general{class: tab_pane_class + " in active"}
    %h1.section.general.no_uppercase
      %span.obscure-in-demo= editable_first_and_last_name(@user)
      &nbsp;
      %span.regular_case
        = @user.name_affix
      .workflow-tool.tool= render partial: 'workflow_triggers'
      - if can? :manage, @user
        .tool.profile_fields_index
          = link_to t(:profile_fields), profile_fields_path(user_id: @user.id), class: 'btn btn-default'
      - if can? :renew_cache, @user
        .tool.renew_cache= renew_cache_button(@user)
    %div
      .media
        .media-left= render partial: 'avatar'
        .media-body
          %ul.attributes.keys-and-values
            = render partial: 'user_corporation_attribute'
            %li.name.attribute= render partial: 'user_name_attribute'
            = profile_field_li @user.find_or_create_date_of_birth_profile_field, lock_label: true, no_remove: true, css_class: 'date-of-birth'
            - general_fields = @user.profile.section(:general).fields
            = profile_field_lis general_fields, lock_label: true, no_remove: true
            = render partial: 'users/special_general_info_fields', locals: {user: @user}
            = render partial: 'users/dead_badge', locals: { user: @user }
            = render partial: 'users/hidden_flag_switch', locals: { user: @user }

  -#- if can? :use, :merit
  -#  #merit{class: tab_pane_class}
  -#    = render partial: 'users/merit', locals: {user: @user}

  - # Contact Info Box
  #contact{class: tab_pane_class}
    = profile_section @user.profile.section :contact_information

  - # Corporate Vita
  #corporate{class: tab_pane_class}
    - if @user.corporations.count > 0
      %h1.section.corporate_vita= t :corporate_vita
      %div
        .pull-right= render partial: 'workflow_triggers'
        - if can? :manage, @user
          = link_to t(:show_group_memberships), user_memberships_path(user_id: @user.id), class: 'btn btn-default right'
        = corporate_vita_for_user @user

  #career{class: tab_pane_class}
    - # About Box
    = optional_profile_section @user.profile.section(:about_myself), {formatting_help: true}

    - # Study Info Box
    = optional_profile_section @user.profile.section :study_information

    - # Career Info Box
    = optional_profile_section @user.profile.section(:career_information), { lock_label: true }

    - # Organizations Box
    = optional_profile_section @user.profile.section :organizations

  #more{class: tab_pane_class}

    - # Bank Account Info Box
    = optional_profile_section @user.profile.section :bank_account_information

    - # Groups Box
    %h1
      = t(:groups_of) + " " + @user.first_name
      - if can? :manage, @user
        .tool= link_to "Gruppen-Mitgliedschaften anzeigen", user_memberships_path(user_id: @user.id), class: 'btn btn-default right'
    %div
      = render partial: 'users/groups', object: @user, as: :user

    -#   / Events
    -#   - if @user.upcoming_events.present?
    -#     %h1
    -#       Veranstaltungen von #{@user.first_name}
    -#     %div
    -#       = upcoming_events_list_for_user( @user )
    -#
    -#   / Relationships
    -#   %h1.section.relationships= t(:relationships)
    -#   %div
    -#     = relationships_of_user_ul @user

    - # Communication Box
    = render partial: 'users/communication_box', locals: {user: @user}

    - # Login Data
    - if can? :update, @user
      %h1.section.access= t(:access_information)
      %div
        - if @user.has_account?
          = render @user.account
        - else
          %p= t :user_has_no_account
          - if can? :create_account_for, @user
            %span.show_only_in_edit_mode
              = link_to t(:create_account), user_account_path(@user), :method => :post, :class => "btn btn-success"
              %p= t 'formtastic.hints.create_account'
