<% unless @user %>
<h1><%=h @title %></h1>
<div>
  <p><%=t :the_requested_user_is_not_listed_in_the_system %></p>
  <%= link_to t( :create_new_user ), controller: 'users', action: 'new', alias: @alias %>
</div>
<% end %>
<% if @user %>
<h1><%=h @title %></h1>
<div>
  <p>Profil-Informationen</p>
</div>


<%= profile_sections_for_profileable @user, [ :contact_information, :about_myself, :study_information, :career_information, :organisations ] %>


<% if false %>
<% for title,profile_fields in @profile.sections %>
  <h1><%=t title %></h1>
  <div>
    <%= gmaps4rails( @gmaps4rails_json ) if @gmaps4rails_json if title.to_sym == :contact_information %>
    <dl>
      <% for pf in profile_fields %>
        <span class="profile_field">
	  <!-- Im Moment werden die Profilfelder nur von jQuery gefüllt. Die Füllung muss aber noch in einen Helper ausgelagert werden, damit es auch auf mobilen Geräten funktioniert. -->
	  <%= editable_span_tag( controller: 'profile_fields', id: pf.id ) %>
	</span>

      <% end %>
    </dl>
  </div>
<% end %>
<% end %>

<h1><%= t( :groups_of ) + " " + h( @user.first_name ) %></h1>
<div>
  <%= groups_of_user_ul @user %>
</div>

<h1>Beziehungen</h1>
<div>
  <%= relationships_of_user_ul @user %>
</div>

<h1>Zugangsdaten</h1>
<div>
  <% if @user.has_account? %>
    <dl>
      <dt>Identifikation möglich mit folgenden Daten:</dt>
      <% for attribute in UserIdentification.possible_attributes %>
        <dd><%=t attribute.to_s %>: <%= @user.send attribute %></dd>
      <% end %> 
    </dl>
  <% else %>
    <p><%=t :user_has_no_account %></p>
  <% end %>
</div>




<% end %>
