<%= content_box :heading => @title do %>
<% if @user %>
<p>Profil-Informationen</p>
<% else %>
<p>Der angegebene Benutzer ist im System nicht vorhanden.</p>
<%= link_to( "Diesen Benutzer anlegen", :action => "new", :alias => @alias ) %>
<% end %>
<% end %>

<% for title,profile_fields in @profile_field_groups %>
  <%= content_box :heading => title do %>
    <% if title == "Kontaktinformationen" %>
      <span style="display:inline-block;float:right;width:50%;height:200px;">
        <%= gmaps4rails @gmaps4rails_json %>
      </span>
    <% end %>
    <dl>
      <% for pf in profile_fields %>
      
        <span class="profile_field">
	  <!-- Im Moment werden die Profilfelder nur von jQuery gefüllt. Die Füllung muss aber noch in einen Helper ausgelagert werden, damit es auch auf mobilen Geräten funktioniert. -->
	  <%= editable_span_tag( controller: 'profile_fields', id: pf.id ) %>
	</span>

      <% end %>
    </dl>
  <% end %>
<% end %>

