<% unless @user %>
<h1><%= h @title %></h1>
<div>
  <p><%= t :the_requested_user_is_not_listed_in_the_system %></p>
  <%= link_to t(:create_new_user), controller: 'users', action: 'new', alias: @alias %>
</div>
<% end %>
<% if @user %>
<h1>
  <% if can? :update, @user %>
    <%= best_in_place @user, :first_name %> 
    <%= best_in_place @user, :last_name %> &nbsp; 
    <%= h @user.aktivitaetszahl %>
  <% else %>
    <%= @user.title %>
  <% end %>
</h1>
<div>
  <span id="user_workflows" class="show_only_in_edit_mode">
    <ul>
      <% for workflow in @user.workflows %>
      <li><%= link_to_workflow workflow, user: @user %></li>
      <% end %>
    </ul>
  </span>

  <table>
  <tr><td width="20%">
    <span class="thumbnail">
      <%= user_avatar(@user, size: 128) %>
    </span>
  </td><td>
  <dl>
    <dt><%= t :name %></dt>
    <dd>
      <% if can? :update, @user %>
        <%= best_in_place @user, :first_name %> <%= best_in_place @user, :last_name %>
      <% else %>
        <%= @user.name %>
      <% end %>
    </dd>
    <dt><%= t :date_of_birth %></dt>
    <dd>
      <% if can? :update, @user %>
        <%= best_in_place @user, :date_of_birth, type: :date %>
      <% else %>
        <%= localize @user.date_of_birth if @user.date_of_birth %>
      <% end %>
    </dd>
  </dl>
  <%= render partial: 'shared/profile_section_ul', locals: { section: :general, profileable: @user } %>
  
  </td></tr>
  </table>

</div>

<%= profile_sections_for_profileable @user, @user.sections %>

<% if @user.corporations.count > 0 %>
<h1 class="section corporate_vita">Wingolfitischer Lebenslauf</h1>
<div>
  <%= corporate_vita_for_user( @user ) %>
</div>
<% end %>

<h1><%= t( :groups_of ) + " " + h( @user.first_name ) %></h1>
<div>
  <%= groups_of_user_table @user %>
</div>

<% if @user.upcoming_events %>
<h1>Veranstaltungen von <%= @user.first_name %></h1>
<div>
  <%= upcoming_events_list_for_user( @user ) %>
</div>
<% end %>

<h1 class="section relationships">Beziehungen</h1>
<div>
  <%= relationships_of_user_ul @user %>
</div>

<h1 class="section communication">Kommunikation</h1>
<div>
  <% if can? :manage, @user %>
    Wingolfsblätter abonniert:
    <%= best_in_place @user, :wingolfsblaetter_abo, type: :select, collection: [['false', I18n.t("no")], ['true', I18n.t("yes")]] %>
  <% end %>
</div>

<h1 class="section access">Zugangsdaten</h1>
<div>
  <% if @user.has_account? %>
    <%= render @user.account %>
  <% else %>
    <p><%= t :user_has_no_account %></p>
    <span class="show_only_in_edit_mode">
      <%= link_to t(:create_account), user_accounts_path(:user_id => @user.id), :method => :post %>
    </span>
  <% end %>
</div>

<% end %>
