%h1= t 'change_password'
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token

  %div
    = f.label :password, t('new_password')
    = f.password_field(:password, :autofocus => true)
  %div.password_strength_container{:data => { min_score: 4, password_strength_advice: t('password_strength.advice'), score_descriptions: t([:s0, :s1, :s2, :s3, :s4], scope: 'password_strength.score_descriptions'), triggerwords: [['[Bb]ierjunge[!]*', 'hängt!', 'doppelt!'],['correcthorsebatterystaple','lol',"Whoa there, don't take advice from a webcomic too literally"], ['Tr0ub4do[u]?r&3','lol','Guess again']] }}
  %div
    = f.label :password_confirmation, t('confirm_new_password')
    = f.password_field :password_confirmation

  = f.submit t :submit_changed_password, :class => 'btn btn-success'

= render 'devise/shared/links'
= javascript_include_tag 'password_strength'
%script{:type=>'text/javascript'}
  PasswordStrength.watch("#user_account_password", "#user_account_password_confirmation");