- # locals:
- navable || raise('no navable given')
- nav_node ||= navable.nav_node

%h2 Navigation
%table.settings
  %tr
    %th Men端-Optionen
    %td
      = ajax_check_box navable, :hidden_menu, "Im Men端 verstecken"
      = ajax_check_box navable, :slim_menu, "Im Men端 ausblenden, um Platz zu sparen"
  %tr
    %th Breadcrumb-Optionen
    %td
      = ajax_check_box navable, :slim_breadcrumb, "In Breadcrumbs ausblenden, um Platz zu sparen"
  %tr
    %th Abweichende Beschriftung im Men端
    %td= best_in_place nav_node, :menu_item
  %tr
    %th Abweichende Beschriftung in den Breadcrumbs
    %td= best_in_place nav_node, :breadcrumb_item
