- # locals:
- navable || raise('no navable given')
- nav_node ||= navable.nav_node

%h2= t :navigation
%table.settings
  %tr
    %th= t :menu_options
    %td
      = ajax_check_box navable, :show_in_menu, t(:show_in_menu)
      = ajax_check_box navable, :slim_menu, t(:slim_menu)
  %tr
    %th= t :breadcrumb_options
    %td
      = ajax_check_box navable, :slim_breadcrumb, t(:slim_breadcrumb)
  %tr
    %th= t :separate_menu_label
    %td= best_in_place nav_node, :menu_item
  %tr
    %th= t :separate_breadcrumb_label
    %td= best_in_place nav_node, :breadcrumb_item
