<span class="<%= 'profile_field editable show' unless profile_field.parent %>">
  <dt><%=h profile_field.label %></dt>
  <dd>
    <%=h profile_field.value.gsub( ', ', '<br />').html_safe if profile_field.value %>
    <% if profile_field.children.count > 0 %>
      <dl>
	<% for child_field in profile_field.children %>
	  <%= render partial: "shared/profile_field", object: child_field %>
	<% end %>
      </dl>
    <% end %>
    <% if profile_field.type == "Address" %>
      <br />
      (<%= link_to profile_field.bv.name, profile_field.bv.becomes( Group ) %>)
    <% end %>
  </dd>
</span>
