
<h1 class="section <%= section %>"><%=t section %></h1>
<div id="section_<%= section %>">

  <% if section.to_sym == :contact_information %>
      <% if profileable.profile_fields_by_type( "ProfileFieldTypes::Address" ).count > 0 %>
      <span id="contact_section_google_maps" class="do_not_show_in_edit_mode">
	<%= map_of_address_profile_fields( profileable.profile_fields_by_type( "ProfileFieldTypes::Address" ) ) %>
      </span>
      <% end %>
  <% end %>
  <ul>
    <% profileable.profile_fields_by_section( section ).each do | profile_field | %>
        <%= render partial: 'shared/profile_field', object: profile_field %>
    <% end %>
  </ul>
  <% type_or_types = profileable.profile_field_type_by_section( section ) %>
  <%= add_button( url_for( :action => :create_profile_field,
                           :profileable_id => profileable.id,
                           :type => type_or_types,
                           :section => section), :method =>  "post" ) unless type_or_types.kind_of? Array %>

</div>
