- # locals:
- attachment || raise('no attachment given')
- show_technical_information ||= false

%tr{ id: "attachment-#{attachment.id}" }
  %td
    = link_to image_tag( attachment.thumb_url ), attachment.file.url
  %td
    %span.attachment-description
      %p.attachment.title

        -# default_title = attachment.file.filetitle.humanize
        = link_to best_in_place_if(can?(:update, attachment), attachment, :title, activator: 'only_manual'), attachment.file.url

        - if can? :destroy, attachment
          = remove_button attachment

      - if show_technical_information
        %p.attachment.filename
          = link_to attachment.filename, attachment.file.url
      %p.attachment.description
        = best_in_place_if can?(:update, attachment), attachment, :description
      %p.attachment.author
        = "#{t(:author)}: "
        = user_best_in_place_if can?(:manage, attachment), attachment, :author_title

      - if show_technical_information && can?(:manage, attachment)
        %p.attachment.type
        = "#{t(:type)}: "
        = best_in_place attachment, :type

      %p.attachment.filesize
        = attachment.file_size_human
