- # This is an attachment drop field.
- # Locals:
- #   - parent        Object the attachments are added to, e.g. a Page or an Event.
- #   - type          The kind of attachment that is allowed here, e.g.
- #                   :image, :attachment.
- #                   Default: :attachment (which is all attachments).

- type ||= :attachment

.box.panel.panel-default.upload_attachment{class: can?(:create_attachment_for, parent) ? '' : 'hidden', data: {parent_url: parent.url}}
  .attachment_drop_field
    %p.drop_attachments_here
      - if type == :image
        = t :drop_images_here
      - else
        = t :drop_documents_or_images_here
    %p.uploading.hidden
      - if type == :image
        = t :uploading_images
      - else
        = t :uploading_files
      %br
      %small= t :please_wait_until_this_field_is_green_again
      %br
      %small.upload_counter
    %p.success.hidden
      - if type == :image
        = t :images_have_been_uploaded
      - else
        = t :files_have_been_uploaded
      %br
      %small 
        - if type == :image
          = t :images_are_about_to_be_shown_as_gallery_thanks_for_uploading
        - else
          = t :files_are_about_to_be_shown_thanks_for_uploading
          
    = form_for parent.attachments.build, html: {class: 'visible-xs visible-sm new_attachment'} do |f|
      = f.hidden_field :parent_id
      = f.hidden_field :parent_type
    
      - # issue: https://github.com/carrierwaveuploader/carrierwave/issues/1079
      - # f.file_field :file, multiple: true, name: "attachment[file]"
      = f.file_field :file, name: "attachment[file]"
  