- # locals:
- #   - attachments
- #   - inline         suppress separate box if true
- #
- attachments ||= []
- inline ||= false
- hide_description ||= false

- if not inline
  %h1.pictures= t :pictures
.pictures
  = galleria theme: 'classic' do
    - for attachment in attachments
      = render partial: 'attachments/picture', locals: { attachment: attachment }
  - unless hide_description
    .picture-info
      .picture-title
        = attachments.first.title
      .picture-description
        = attachments.first.description