.page-header
  .row.align-itens-center
    .col-auto
      .page-title E-Mail-Verteiler
    .col-auto.ml-auto
      .btn.btn-primary Neuen Verteiler einrichten

.card
  .table-responsive
    %table.mailing_lists.card-table.table.table-vcenter
      %thead
        %tr
          %th Verteiler-Adresse
          %th.d-sm-none.d-md-table-cell Empfänger-Gruppe
          %th.d-sm-none.d-md-table-cell= t :members
          %th.d-sm-none.d-md-table-cell Berechtigung
          %th.d-sm-none.d-md-table-cell= t :posts
          %th= t :settings
      %tbody
        - mailing_lists.each do |mailing_list|
          %tr
            %td= link_to mailing_list.email, "mailto:#{mailing_list.email}"
            %td.d-sm-none.d-md-table-cell= link_to mailing_list.group_name, mailing_list.group
            %td.d-sm-none.d-md-table-cell= mailing_list.members_count
            %td.d-sm-none.d-md-table-cell
              - if mailing_list.sender_policy.present?
                = t mailing_list.sender_policy, scope: 'sender_filter_short'
            %td.d-sm-none.d-md-table-cell= mailing_list.posts_count
            %td
              - if can? :manage, mailing_list
                = link_to t(:settings), group_mailing_lists_path(group_id: mailing_list.group.id), class: 'btn btn-sm btn-white'