%h1.app_settings= current_title
%div
  %h2= t :app_name
  %ul.settings
    %li
      = t :app_name
      = setting_in_place Setting, :app_name
    %li
      = t :preferred_locale
      = setting_in_place Setting, :preferred_locale # , as: :select, collection: I18n.available_locales # FIXME
    %li
      = t :support_email
      = setting_in_place Setting, :support_email

  %h2= t :logos
  .attachments
    %ul.logos
      - Attachment.logos.each do |logo|
        %li
          = image_tag logo.file_path
          Key:
          = best_in_place logo, :title
    #new_attachment= render partial: 'attachments/drop_field', locals: {parent: @logo_page, title: "logo", type: :image}

  %div= link_to settings_icon + " " + t(:logo_settings_for_str, str: current_home_page.domain || current_home_page.title), page_logos_path(current_home_page), class: 'btn btn-outline-secondary'


  %h2 Root-Breadcrumb
  %ul.settings
    %li
      = t :root_domain
      = best_in_place @root_page, :title
    %li
      = t :redirect
      = best_in_place @root_page, :redirect_to

%h1 Discourse
%div
  %h2 Embedded Comments
  Discourse can be used to embed comments. Have a look at this guide:
  %a{href: "https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963"} https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963

  %ul.settings
    %li
      Discourse root url for embedded comments (with ending slash):
      = setting_in_place Setting, :embedded_comments_discourse_url, placeholder: "https://discourse.example.com/"

  %h2 Suggestions
  %ul.settings
    %li
      Discourse category for suggestions:
      = setting_in_place Setting, :discourse_suggestions_url, placeholder: "https://discourse.example.com/"

- content_for :side_bar do
  %h4=t :see_also

  %ul
    %li
      = link_to settings_path do
        = settings_icon
        = t :user_settings
    %li
      = link_to page_settings_path(current_home_page) do
        = settings_icon
        = t :settings_of_the_current_website_str, str: current_home_page.domain
    %li
      = link_to home_pages_path do
        = settings_icon
        = t :settings_of_the_other_websites
