%h1.section.events= @title
%div
  %table.datatable.events
    %thead
      %tr
        %th=t :name
        %th Datum
        %th=t :group
        %th=t :corporation
        %th=t :contact_people
        %th=t :attendees
    %tbody
      - @events.each do |event|
        %tr.event
          %td.name
            %strong= link_to(event.name, event)
          %td.date= localize event.start_at.to_date if event.start_at
          %td.group_name= event.group ? link_to(event.group.name, event.group) : ''
          %td.corporation_name= event.group.try(:corporation) ? link_to(event.group.corporation.token, event.group.corporation) : ''
          %td.contact_people= user_links(event.contact_people)
          %td.attendees= event.attendees.count