- if can? :create, :support_request

  = link_to_special_page(t(:help), :help, :class => 'btn btn-info navbar-btn help-button', id: 'header_help_button')

  #help_button_popover_container
  
  #help_button_title.hidden
    = t(:help)
    %a.close.close_help_popover.right &times;
  
  #help_button_popover_body.hidden
    = form_tag support_requests_path, id: 'help_form' do
      %textarea.form-control{name: 'text'}= render partial: 'support_requests/text_template'
      = button_tag type: 'submit', class: 'btn btn-primary right' do
        = icon(:envelope)
        = t(:send_help_request)
    .success.hidden
      = t(:support_request_has_been_sent_to)
      = SupportRequestsController.support_email