- # locales: page

.add_attachment.show_only_in_edit_mode
  %h2= t :add_attachments
  - if not @blog_entries.present?
    .attachment_drop_field
      %p= t :drop_attachments_here
      = form_for page.attachments.build do |f|
        = f.hidden_field :parent_id
        = f.hidden_field :parent_type
        = f.label :file, t(:attachments)
      
        - # issue: https://github.com/carrierwaveuploader/carrierwave/issues/1079
        - # f.file_field :file, multiple: true, name: "attachment[file]"
        = f.file_field :file, name: "attachment[file]"
    %script#template-upload{:type => "text/x-tmpl"}
      :cdata
        <div class="upload">
        {%=o.name%}
        <div class="processing">#{I18n.t(:processing_attachment)}</div>
        <div class="progress"><div class="bar" style="width: 0%"></div></div>
        </div>
  - else
    - if @page == page
      %p
        Es ist nicht möglich, einen Anhang für die Seite
        = "'#{page.title}'"
        hinzuzufügen.
      %p
        Stattdessen kann ein Anhang zu einem der Blog-Beiträge
        unterhalb hinzugefügt werden.
    - else  # Das ist ein Blog-Beitrag:
      Um einen Anhang hinzuzufügen, bitte zur Seite
      = link_to page.title, page
      wechseln.