%h1#public-root-events-box= t(:events)
%div
  %ul.website-events
    = render partial: 'events/events_lis', locals: {events: events, show_location_rather_than_group: true}

  - if page.semester_calendar && attachment = page.semester_calendar.attachments.last
    .semester_calendar
      %h3
        = t :semester_calendar
        = link_to "ical", group_events_url(group_id: page.show_events_for_group, format: 'ics', protocol: 'webcal'), class: 'ical_abo_link'
      = link_to attachment.file.url do
        .semester_calendar_title
          = page.semester_calendar.title
        = image_tag(attachment.thumb_url)

