- # locals:
- # page
- teaser ||= false

%ul.box_meta
  - if page.created_at
    %li.published_at.page_published_at
      = icon :calendar
      = page.published_at ? localize(page.published_at) : t(:unpublished_draft)
  - if (not teaser) && page.author
    %li.author.page_author
      = icon :user
      = link_to(page.author.title, user_posts_path(user_id: page.author.id))
  - if (not teaser) && @navable != page and not @navable.in?(page.parents) and page.parents.first
    %li.page_parent
      = folder_icon
      = link_to page.parents.first.title, page.parents.first
  - if page.tags.any? || can?(:update, page)
    %li.tags.page_tags
      = icon :tag
      = render partial: 'tags/tag_list', object: page, as: :taggable
