- # locals:
- page || raise('no page given')
- teaser_box ||= false
- page_class = teaser_box ? 'teaser_box' : ''

.page_with_attachments
  %h1.page{class: page_class, id: "page-#{page.id}-box"}
    - if (page.try(:becomes, Page) == @navable.try(:becomes, Page)) and not @this_is_a_new_blog_post
      -#= best_in_place_if can?(:update, page), page, :title
      = wysiwyg_in_place_if can?(:update, page), page, :title
    - else  # Blog Entries:
      = link_to(page) do
        = best_in_place_if can?(:update, page), page, :title, class: 'click_does_not_trigger_edit', activator: 'only_manual'
    - if not teaser_box
      - if can? :manage, page
        .activities_tool.tool.do_not_show_in_edit_mode.shown_on_box_header_hover
          = link_to icon(:history), page_activities_path(page), class: 'btn btn-default show_activities_button', title: t(:show_page_activity_log)
      .delete_page_tool.tool= destroy_page_button(page)
      - if can? :destroy, page
        .delete_page_tool.tool
          = link_to icon(:trash), page_path(page, format: 'json'), method: 'delete', class: 'btn btn-danger destroy_page', title: I18n.t(:a_new_page_can_be_destroyed_within_ten_minutes), remote: true

      - if can? :manage, page
        .attachment_tools.tool
          = link_to attachment_icon, page_attachments_path(page_id: page.id), class: 'btn btn-default manage_attachments_button', title: t(:manage_attachments)
      .archive_tools.tool
        = archived_label(page)
        - if (page.type == 'BlogPost') && can?(:update, page)
          .shown_on_box_header_hover= archive_button(page)
    - if can? :manage, page
      .page_settings_tool.tool
        .shown_on_box_header_hover
          = link_to settings_icon, page_settings_path(page), class: 'btn btn-default', title: t(:page_settings)

  %div.page{class: page_class}
    - if page.image_attachments_not_listed_in_content.any?
      #inline-pictures= render partial: 'attachments/pictures', locals: {attachments: page.image_attachments_not_listed_in_content, inline: true}

    = render partial: 'pages/meta', object: page, as: :page

    - if page.kind_of? BlogPost
      .page_teaser{class: ('show_only_in_edit_mode' if page.content.try(:include?, page.teaser_text.to_s))}
        = best_in_place_if can?(:update, page), page, :teaser_text, as: :textarea, activator: 'manual'

    %div.page_body
      - if teaser_box
        = markup page.teaser_text
      - else
        = wysiwyg_in_place_if can?(:update, page), page, :content, toolbar: true, multiline: true, activate: 'manual' do
          = markup page.content

    - unless teaser_box
      - if not @blog_entries.present? and not @hide_attachment_drop_fields and can?(:create_attachment_for, page)
        .hidden-print.show_only_in_edit_mode
          #attachments= render partial: 'attachments/drop_field', locals: {parent: page}

    - if teaser_box
      .panel-footer
        = link_to t(:learn_more), page

  - unless teaser_box
    #attachments.attachments
      = render(partial: 'pages/videos', locals: {page: page})
      = render(partial: 'pages/attachments', locals: {page: page})
