- # locals:
- page || raise(ActionController::ParameterMissing, 'no page given')

%h1.page.teaser_box{id: "page-#{page.id}-box", class: page.class.name.underscore.parameterize}
  = link_to page.title, page
  = publish_page_button(page)
%div
  = render partial: 'teaser_image', object: page, as: :page
  .page_body
    = best_in_place_if can?(:update, page), page, :teaser_text, as: :textarea, sanitize: false
  .panel-footer
    = link_to t(:learn_more), page
