= render partial: 'pages/tabs'

- page ||= @page

- if can? :manage, page
  .row.for_settings_button
    = link_to page_settings_path(page), id: 'page_settings_button', class: 'btn btn-default btn-sm pull-right' do
      = settings_icon
      = t :page_settings

= draggable_boxes_row(page) do

  .col.col-sm-9.col-xs-12.resizable_col
    = render page

  - if page.settings.show_group_map
    .col.col-sm-6.col-xs-12.resizable_col
      %h1#group-map-box= group_map_title
      %div
        = render partial: 'shared/group_map', locals: {page: page}

  - if @events
    .col.col-sm-3.col-xs-12.public_root_events
      %h1#public-root-events-box
        = t(:events)
      %div
        = render partial: 'events/events_lis', locals: {events: @events, show_location_rather_than_group: true}

  - page.content_boxes.each do |content_box_page|
    .col.col-sm-3.col-xs-12.resizable_col= render content_box_page

  - page.teaser_boxes.each do |teaser_box_page|
    .col.col-sm-3.col-xs-12.resizable_col= render partial: 'pages/teaser_box', object: teaser_box_page, as: :page

  - if page.settings.show_officers
    .col.col-sm-3.col-xs-12.resizable_col
      - if page.settings.show_officers_for_group_id
        = render partial: 'officers/officers_box', locals: {structureable: Group.find(page.settings.show_officers_for_group_id), limit: page.settings.show_only_the_first_n_offices.try(:to_i)}
      - else
        = render partial: 'officers/officers_box', locals: {structureable: page}

.row
  = render partial: 'pages/new_page_button', locals: {parent_page: page}

.row#blog_entries
  - if page.blog_entries.count > 0
    - page.blog_entries.each do |blog_entry|
      = render partial: 'pages/page', object: blog_entry


-#%div.col3
-#
-#  -# - if can?(:create_page_for, @page)
-#  -#   - # No nested blog posts!
-#  -#   - # The user might suspect to create a sibling, but really would create a nested blog post.
-#  -#   - # Note: `@page.type` could be 'Page' for the PagesController. But `Page.find(@page.id)` finds the type in the database.
-#  -#   - #
-#  -#   - if (Page.find(@page.id).type != 'BlogPost')
-#  -#     %div.blog_tools.box
-#  -#       = link_to blog_posts_path(parent_id: @page.id), :class => "btn btn-success add_blog_post", :method => :post, :remote => :true do
-#  -#         = icon :plus
-#  -#         = I18n.t(:add_blog_entry)
