= render partial: 'pages/tabs'

- page ||= @page

- if page.visible_to?(current_user, preview_as: params[:preview_as])

  - if can? :manage, page
    .row.for_settings_button
      = link_to page_settings_path(page), id: 'page_settings_button', class: 'btn btn-default btn-sm pull-right' do
        = settings_icon
        = t :page_settings

  = draggable_boxes_row(page) do

    .col.col-sm-9.col-xs-12.resizable_col
      = render page

    - if page.settings.show_group_map
      .col.col-sm-6.col-xs-12.resizable_col
        %h1{id: "group-map-box-#{page.id}"}= group_map_title
        %div
          = render partial: 'shared/group_map', locals: {page: page}

    - if @events
      .col.col-sm-6.col-xs-12.resizable_col.public_root_events= render partial: 'pages/events', locals: {page: page, events: @events}

    - visible_pages_only(page.content_boxes).each do |content_box_page|
      .col.col-sm-6.col-xs-12.resizable_col= render content_box_page

    - visible_pages_only(page.teaser_boxes).each do |teaser_box_page|
      .col.col-sm-6.col-xs-12.resizable_col= render partial: 'pages/teaser_box', object: teaser_box_page, as: :page

    - if page.settings.show_officers
      .col.col-sm-6.col-xs-12.resizable_col
        - if page.settings.show_officers_for_group_id
          = render partial: 'pages/officers', locals: {structureable: Group.find(page.settings.show_officers_for_group_id), limit: page.number_of_officers_to_show}
        - else
          = render partial: 'pages/officers', locals: {structureable: page, limit: page.number_of_officers_to_show}

    .col.col-sm-12.col-xs-12
      = render partial: 'pages/new_page_button', locals: {parent_page: page}

    #blog_entries.eq-height
      - visible_pages_only(page.blog_entries).each do |blog_entry|
        .col.col-sm-12.col-xs-12.resizable_col
          = render partial: 'pages/page', object: blog_entry

    - # TODO: Feature switch or home page setting
    - if page.public? && (page.id != page.home_page.id)
      #scroll_over_to_home_page{data: {url: page.home_page.url}}
        #goto_start_page
          #goto_start_page_indicator= fa_icon 'chevron-down'
          = t :goto_start_page

- else # Page not visible to the user
  %h1= page.title
  %div
    = t :this_page_has_not_been_published_yet