.page-header
  .row.align-itens-center
    .col-auto
      .page-title= current_title

.row
  .col-md-8
    .card
      .card-header
        %input.filter_query.form-control{placeholder: "Filtern nach Name, Ort, Telefon oder E-Mail-Adresse"}
      .responsive-table
        - Rack::MiniProfiler.step "contacts_table" do
          %table.table.card-table.table-vcenter
            %thead
              %tr
                %th
                %th Name
                %th Ort
                %th Telefon
                %th E-Mail
            %tbody
              - for contact in contacts
                %tr
                  %td.w-1= user_avatar contact
                  %td= link_to contact.title, contact
                  %td
                    - if contact.primary_address_field.try(:town)
                      = location_icon
                      = contact.primary_address_field.town
                  %td
                    - if contact.phone.present?
                      = phone_icon
                      = link_to contact.phone, "tel:#{contact.phone}"
                  %td
                    - if contact.email
                      = mail_to contact.email, class: 'btn btn-icon btn-white' do
                        = mail_icon
        .card-body
          %small
            .text-center.mt-2.text-muted
              Bundesbruder nicht gefunden? Bundesbrüder aus anderen Verbindungen kannst Du einfach über das Suchfeld im Kopfbereich der Plattform finden. Dort kannst Du nach Name, Ort, Firma oder anderen Profilinformationen suchen.
            .text-center.mt-2
              = link_to "Jetzt suchen", search_path


  .col-md-4
    - for group in corporations
      = cache [group, "root/corporation_card"], expires_in: 1.day do
        = render partial: 'corporations/corporation_card', locals: {group: group}
