%h1= current_title
%div
  - if my_invitation
    - if my_invitation.inviter
      %p
        Du wurdest von
        = link_to_user my_invitation.inviter
        am
        = l my_invitation.created_at.to_date
        zur Beta eingeladen.
    - else
      %p
        Du nimmst seit
        = l my_invitation.created_at.to_date
        an der Vademecum-Beta teil.
    %h2 Jemanden einladen
    - if invitations_sent_by_me.count < beta.max_invitations_per_inviter
      %p
        = form_for :beta_invitation, method: :post, url: beta_invitations_path, remote: true do |f|
          = f.hidden_field :beta_id, value: beta.id
          = f.text_field :invitee_title, class: 'user-select-input', data: {autocomplete_url: titles_api_v1_users_path}
          = f.submit t(:send_invitation)
    %p
      Du hast
      = invitations_sent_by_me.count
      von möglichen
      = beta.max_invitations_per_inviter
      Einladungen verschickt an:
      = invitations_sent_by_me.collect { |invitation| link_to_user invitation.invitee }.join(", ").html_safe
  - else
    %p
      = icon :lock
    %p
      Tut uns leid. Die Vademecum-App befindet sich
      derzeit in der Phase einer geschlossenen Beta.
    %p
      Du benötigst eine Einladung, um an dieser Beta
      teilnehmen zu können.
    %p
      Bitte jemanden, der bereits
      an der Beta teilnimmt, um eine Einladung.

  = link_to "Zum Dashboard", mobile_dashboard_path, class: 'btn-mobile'