.col-xs-12.col-sm-6
  = link_to '#', class: 'btn btn-default btn-large nav' do
    = fa_icon 'users'
    Adressbuch

.col-xs-12.col-sm-6
  = link_to '#', class: 'btn btn-default btn-large nav' do
    = fa_icon 'file-text-o'
    Aktuelle Dokumente

- if can? :read, :mobile_events
  .col-xs-12.col-sm-6
    %h1.events Veranstaltungen
    %div
      .events_list_partial

.row.sign_out
  = link_to "Abmelden", sign_out_path, remote: true, method: :delete, class: 'sign_out_button'