%div{style: "font-family: Helvetica"}
  %p= markup @text
  
  %hr
  
  %h2 Profile info
  %ul
    %li= link_to @sender_user.title, @sender_user
    %li
      Mobile:
      = @sender_user.mobile
      
  %h2 Object info
  %ul
    %li= link_to @navable.title, polymorphic_url(@navable, preview_as: @role)
  
  %h2 Meta data
  %ul
    - @meta_data.each do |key, value|
      %li= "#{key}: #{value}"
