%h1= t :change_occupant_for_str, str: room.name
%div
  %p.current_occupant
    = t(:current_occupant) + ":"
    - if room.occupant
      = link_to_user room.occupant
    - else
      = t :none
  %p.new_occupancy_from
    Datum der Änderung:
    = datepicker_tag 'occupancy_since'
  %p.new_occupant
    = form_tag group_room_occupancies_path, method: 'post' do
      = hidden_field_tag :group_id, room.id
      .form-group
        .form-group.form-check
          %label.form-check-label
            = radio_button_tag 'occupancy_type', 'empty', true, class: 'form-check-input'
            = t :the_room_has_no_new_occupant
        .form-group.form-check
          %label.form-check-label
            = radio_button_tag 'occupancy_type', 'existing_user', false, class: 'form-check-input'
            = t :enter_existing_user_as_occupant
        .form-group.form-check
          %label.form-check-label
            = radio_button_tag 'occupancy_type', 'new_user', false, class: 'form-check-input'
            = t :enter_new_user_as_occupant
        %p
          %button.btn.btn-primary{type: 'submit'}= t :confirm
