.tag_properties
  .title
    = best_in_place_if can?(:update, @tag), @tag, :title
  .subtitle
    = best_in_place_if can?(:update, @tag), @tag, :subtitle, as: :textarea
  .body
    = best_in_place_if can?(:update, @tag), @tag, :body, as: :textarea
  .tag_image.image.attachments
    - if @tag.image
      = image_tag(@tag.image.medium_url)
    - if can? :create_attachment_for, @tag
      #new_attachment= render partial: 'attachments/drop_field', locals: {parent: @tag, type: :image}
  .tag_permalinks_list
    TODO: Permalinks

- content_for :side_bar do
  %h2= t :back
  = link_to t(:show_contents_tagged_with_str, str: @tag.name), @tag

  %h2= t :contents_tagged_with_str, str: @tag.name
  %ul.taggables
    - @taggables.each do |taggable|
      %li
        = link_to taggable.title, taggable
