- content_for :head, auto_discovery_link_tag(:rss, tag_path(@tag, format: "rss"))

= render @taggables

- if can? :manage, @tag
  - content_for :side_bar do
    .edit_tag.widget.clearfix
      = link_to edit_tag_path(@tag) do
        = icon :edit
        = t :edit_tag_str, str: @tag.title

- content_for :side_bar do
  .body.widget.clearfix
    %h4= editable @tag, :title, editable: can?(:update, @tag)
    = editable @tag, :body, type: :textarea, editable: can?(:update, @tag)