%h1 Vademecum Wingolfiticum
%div
  %p= markup "Die Vademecum-App wird von Bundesbrüdern aus dem Arbeitskreis Internet im Rahmen des Plattform-Projektes betrieben."
  %p= markup "Die angezeigten Daten werden per Internet-Verbindung verschlüsselt von der Wingolfsplattform übertragen."
  %p= markup "https://wingolfsplattform.org"

%h1 Hilfe
%div
  = markup "Wenn Du Hilfe benötigst, wende Dich bitte an support@wingolf.org."

%h1 Quellcode
%div
  %p Der Quellcode der Vademecum-App ist Open-Source und auf Github zu finden.
  %p Reicht dort auch bitte Bug-Reports und Verbesserungsvorschläge ein. Pull-Requests sind jederzeit willkommen.

  .center
    %p
      = link_to "https://github.com/fiedl/Vademecum" do
        = fa_icon :github
        Github
    %p
      = link_to "https://github.com/fiedl/Vademecum/issues" do
        = fa_icon :github
        Issues
