<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @subscription.group_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @subscription.type %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
