.flex-fill.d-flex.flex-column.justify-content-center
  .container-tight.py-6
    .text-center.mb-4
      %img{:alt => "", :height => "36", :src => logo_url}/
      %strong= AppVersion.app_name

    = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
      .card.card-md
        .card-body
          %h2.mb-5.text-center Melde Dich auf der Plattform an
          .mb-3
            %label.form-label= t :login_name
            = f.text_field :login, autofocus: true, autocomplete: 'off', placeholder: t(:login_name_explanation), autocorrect: 'off', class: 'form-control'
          .mb-2
            %label.form-label
              = t :password
              %span.form-label-description
                %a{:href => "/passwort-vergessen"}= t :forgot_password
            .input-group.input-group-flat
              = f.password_field :password, placeholder: t(:password), class: 'form-control'
              -#%span.input-group-text
              -#  %a.link-secondary{"data-toggle" => "tooltip", :href => "#", :title => "Passwort anzeigen"}
              -#    %svg.icon{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
              -#      %path{:d => "M0 0h24v24H0z", :stroke => "none"}
              -#      %circle{:cx => "12", :cy => "12", :r => "2"}
              -#      %path{:d => "M2 12l1.5 2a11 11 0 0 0 17 0l1.5 -2"}
              -#      %path{:d => "M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2"}
          .form-footer
            %button.btn.btn-primary.btn-block{:type => "submit"}= t :sign_in

        -#- if OmniAuthProvider.any? && can?(:use, :omni_auth)
        -#  .hr-text oder
        -#  .card-body
        -#    .btn-list
        -#      %a.btn.btn-white.btn-block{:href => "#"}
        -#        %svg.icon.text-github{:fill => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
        -#          %path{:d => "M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"}
        -#        Login with Github
        -#      %a.btn.btn-white.btn-block{:href => "#"}
        -#        %svg.icon.text-twitter{:fill => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
        -#          %path{:d => "M23.954 4.569a10 10 0 0 1-2.825.775 4.958 4.958 0 0 0 2.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 0 0-8.384 4.482C7.691 8.094 4.066 6.13 1.64 3.161a4.822 4.822 0 0 0-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 0 1-2.228-.616v.061a4.923 4.923 0 0 0 3.946 4.827 4.996 4.996 0 0 1-2.212.085 4.937 4.937 0 0 0 4.604 3.417 9.868 9.868 0 0 1-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 0 0 7.557 2.209c9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63a9.936 9.936 0 0 0 2.46-2.548l-.047-.02z"}
        -#        Login with Twitter
        -#
        -#      - if OmniAuthProvider.facebook.available?
        -#        %p
        -#          = link_to "/auth/facebook", class: 'btn btn-facebook btn-block btn-social' do
        -#            = fa_icon :facebook
        -#            = t :sign_in_with_str, str: "Facebook"
        -#      - if OmniAuthProvider.twitter.available?
        -#        %p
        -#          = link_to "/auth/twitter", class: 'btn btn-twitter btn-block btn-social' do
        -#            = fa_icon :twitter
        -#            = t :sign_in_with_str, str: "Twitter"
        -#      - if OmniAuthProvider.github.available?
        -#        %p
        -#          = link_to "/auth/github", class: 'btn btn-github btn-block btn-social' do
        -#            = fa_icon :github
        -#            = t :sign_in_with_str, str: "Github"
        -#      - if OmniAuthProvider.google.available?
        -#        %p
        -#          = link_to "/auth/google_oauth2", class: 'btn btn-google btn-block btn-social' do
        -#            = fa_icon :google
        -#            = t :sign_in_with_str, str: "Google"
        -#
        -#      .omni_auth_faq
        -#        %h3= t :what_is_that
        -#        %p= t :this_will_sign_in_through_external_service
        -#        %p= t :this_will_only_work_for_matching_emails
        -#
        -#        %h3= t :what_does_than_mean_for_privacy
        -#        %p= t :the_external_server_can_connect_you_to_other_users

