<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: Helvetica; line-height: 150%">

    <%= link_to root_url do %>
      <%= image_tag logo_url, align: 'right' %>
    <% end %><br />

    <h3><%= @subject %>!</h3>

    <p><%=t :good_day %> <%= @mr_or_mrs %> <%= @user.last_name%>,</p>

    <p><%=t :with_this_email_you_get_your_account_data %></p>

    <p><table>
      <tr><th align="left"><%=t :url %>:</th><td><%= link_to(root_url, root_url) %></td></tr>
      <tr><th align="left"><%=t :login_name %>:</th><td><%= @user.alias %></td></tr>
      <tr><th align="left"><%=t :password %>:</th><td><%= @password %></td></tr>
    </table></p>

    <hr />

    <p>
      <%=t :this_message_has_been_generated_automatically %><br />
      <%= link_to(root_url, root_url) %>
    </p>

  </body>
</html>
