%h1= current_title
%div
  %table.properties
    %tr
      %th= t :title
      %td
        %strong= signable.title
    %tr
      %th= t :wording
      %td= markup signable.wording
    %tr
      %th= t :sign
      %td
        %p= t :enter_password_to_sign_document
        %p= t :after_signing_the_document_cannot_be_changed
        = form_tag decision_making_ballot_signatures_path(ballot_id: signable.id), method: 'post' do
          .input-group
            %span.input-group-addon= signature_icon
            = password_field_tag :password, '', class: 'form-control', placeholder: t(:enter_password_for_signing)
            %span.input-group-btn
              = submit_tag t(:sign_legally_binding), class: 'btn btn-primary'