%h1= current_title
%div
  %table.home_pages.datatable
    %thead
      %tr
        %th= t :domain
        %th= t :title
        %th= t :admin
        %th= t :type
        %th= t :created_at
        %th= t :updated_at
    %tbody
      - @home_pages.each do |home_page|
        %tr
          %th= link_to (home_page.domain || "example.com"), page_settings_path(home_page)
          %td= link_to home_page.title, home_page
          %td
            = link_to home_page.admins.first.title, home_page.admins.first if home_page.admins.first
          %td= home_page.type.to_s
          %td= l home_page.created_at.to_date
          %td= l home_page.updated_at.to_date

  - if can? :create, Pages::HomePage
    = link_to home_pages_path, class: 'btn btn-default', method: :post do
      = icon :plus
      = t :create_new_home_page