%h1.page_settings
  = current_title
  .back_to_page.tool= link_to "Zurück zur Seite", @page, class: 'btn btn-default'
%div
  %table.settings
    %tr
      %th Titel
      %td= best_in_place @page, :title
    %tr
      %th Seiten-Typ
      %td= best_in_place @page, :type
    %tr
      %th Autor
      %td= best_in_place @page, :author
    %tr
      %th Weiterleitung nach
      %td= best_in_place @page, :redirect_to

  = render partial: 'shared/nav_node_settings', locals: {navable: @page}

  %h2 Löschen
  %a.btn.btn-info{href: '#'}
    %table.settings
      %tr
        %th Seite archivieren
        %td= archive_button @page

= render partial: 'officers/officers_box', locals: {structureable: @page}



Weitere Einstellungen:
settings.show_corporation_map
settings.show_events_box_for_group
settings.show_only_events_published_on_global_website
settings.show_only_events_published_on_local_website