%h1.page_settings
  = current_title
  .back_to_page.tool= link_to "Zurück zur Seite", @page, class: 'btn btn-default'
%div
  %table.settings
    %tr
      %th Titel
      %td= best_in_place @page, :title
    %tr
      %th Seiten-Typ
      %td= best_in_place @page, :type
    %tr
      %th Autor
      %td= best_in_place @page, :author
    %tr
      %th Weiterleitung nach
      %td= best_in_place @page, :redirect_to
    %tr
      %th= t :created_at
      %td= localize @page.created_at
    %tr
      %th= t :updated_at
      %td= localize @page.updated_at

  = render partial: 'shared/nav_node_settings', locals: {navable: @page}

- if @page.kind_of? Pages::HomePage
  %h1.home_page_settings Homepage-Einstellungen
  %div= render partial: 'page_settings/home_page_settings', locals: {home_page: @page}

= render partial: 'officers/officers_box', locals: {structureable: @page}

%h1 Boxen auf dieser Seite
%div
  Hier kann ausgewählt werden, welche Inhalte auf der Seite
  = @page.title
  als Boxen angezeigt werden:

  %table.settings
    %tr
      %th Karte der Standorte
      %td
        %p= ajax_check_box @page, :show_group_map, "Karte der Standorte anzeigen"
        %p
          Gruppen-ID:
          = best_in_place @page, :group_map_parent_group_id
    %tr
      %th Veranstaltungen
      %td
        %p settings.show_events_box_for_group
        %p settings.show_only_events_published_on_global_website
        %p settings.show_only_events_published_on_local_website
    %tr
      %th Unterseiten
      %td
        - @page.child_pages.each do |teaser_page|
          %p= ajax_check_box teaser_page, :show_as_teaser_box, teaser_page.title



%h1.danger_zone Danger Zone™
%div
  %p= t :a_new_page_can_be_destroyed_within_ten_minutes
  %p= destroy_page_button @page, t(:destroy_page_permanently)
  %p
    = archived_label @page
    - if @page.archived?
      = archive_button @page, t(:unarchive_page)
    - else
      = archive_button @page, t(:archive_page)

