%h1.page_settings
  = current_title
  .back_to_page.tool= link_to t(:back_to_the_page), @page, class: 'btn btn-default'
%div
  %table.settings
    %tr
      %th= t :page_title
      %td= best_in_place @page, :title
    %tr
      %th= t :page_type
      %td= best_in_place @page, :type
    %tr
      %th= t :page_author
      %td= best_in_place @page, :author
    %tr
      %th= t :redirect_page_to
      %td= best_in_place @page, :redirect_to
    %tr
      %th= t :created_at
      %td= localize @page.created_at
    %tr
      %th= t :updated_at
      %td= localize @page.updated_at

  = render partial: 'shared/nav_node_settings', locals: {navable: @page}

- if @page.kind_of? Pages::HomePage
  %h1.home_page_settings= t :home_page_settings
  %div= render partial: 'page_settings/home_page_settings', locals: {home_page: @page}

%h1= t :boxes_on_this_page
%div
  = t :select_boxes_to_display_on_the_page_str, str: @page.title

  %table.settings
    %tr
      %th= t :locations_map
      %td
        %p= ajax_check_box @page, :show_group_map, t(:show_locations_map)
        %p
          = t :locations_map_group_id
          = best_in_place @page, :group_map_parent_group_id
    %tr
      %th Veranstaltungen
      %td
        %p settings.show_events_box_for_group
        %p settings.show_only_events_published_on_global_website
        %p settings.show_only_events_published_on_local_website
    %tr
      %th Unterseiten
      %td
        - @page.child_pages.each do |teaser_page|
          %p= ajax_check_box teaser_page, :show_as_teaser_box, teaser_page.title

= render partial: 'officers/officers_box', locals: {structureable: @page}

%h1.danger_zone= t :danger_zone_tm
%div
  %p= t :a_new_page_can_be_destroyed_within_ten_minutes
  %p= destroy_page_button @page, t(:destroy_page_permanently)
  %p
    = archived_label @page
    - if @page.archived?
      = archive_button @page, t(:unarchive_page)
    - else
      = archive_button @page, t(:archive_page)

