= cache :birthday_box, expires_at: Date.tomorrow.beginning_of_day do
  %h1.birthday_box= t :birthdays
  %div
    %ul.birthdays
      - Birthday.users_ordered_by_upcoming_birthday.each do |user|
        - if user.date_of_birth
          %li
            %span.name= link_to user.title, user
            %span.birthday= localize user.date_of_birth
            %span.age= t :n_years, n: (Date.today < user.birthday_this_year ? user.next_age : user.age)