%h1.latest_members= box_heading
%div
  %ul
    - if group
      - for membership in group.latest_memberships.order(valid_from: :desc).first(3)
        %li
          = "#{link_to(membership.user.title, membership.user)},".html_safe
          - if membership.valid_from
            %br
            = localize membership.valid_from.to_date
      %p
        = "Insgesamt #{group.memberships_this_year.count} dieses Jahr."
      %p.list_all
        = link_to I18n.t(:show_all), group_members_path(group)

    -# Hack to show the 'new user' button here:
    - if box_heading == "Aktivmeldungen"
      %p.aktivmeldung_eintragen
        = aktivmeldungsbutton