- # locals:
- sent_from_root_page ||= false

%div.new_post.post.panel.panel-default.box
  = form_for(@new_post, turboboost: true, html: {multipart: true}) do |form|
    = form.hidden_field :sent_from_root_page, value: true if sent_from_root_page
    = form.hidden_field :group_id, class: 'group_id'
    = form.hidden_field :author_user_id
    .preview
      .post-header.alert.alert-warning= t(:preview_post)
      .post-body
    .input-group.form-group
      = form.text_area :text, placeholder: t(:enter_new_post_here), class: 'form-control post_text_field', data: {user_titles_path: titles_api_v1_users_path}
      .input-group-btn
        %button.btn.btn-default.camera-button.has_tooltip{title: t(:add_photo_or_document)}
          = icon :camera
    .post_tools
      .post_attachment.hidden
        = form.fields_for :attachments, Attachment.new do |builder|
          %fieldset
            = builder.file_field :file, class: 'photo_or_document_file'
      .post_buttons
        = link_to t(:preview_post), post_preview_path, class: 'preview_post btn btn-default'
        %button.btn.btn-primary.dropdown-toggle.recipient{data: {toggle: 'dropdown'}}
          = t :recipient
          %span.caret
        .dropdown-menu.select_post_recipient
          = post_recipient_groups_table  # from app/helpers/groups_helper.rb
        = form.submit t(:submit_post), class: 'submit_post btn btn-primary hidden'
            
