.row
  .col-sm-3.hidden-xs.side-col
    = vertical_nav
    %p= render partial: 'last_seen_activities/index'
    %p= render @page

  .col-sm-3.pull-right.side-col
    - if (@announcement_page.content && @announcement_page.content.length > 5) or can?(:update, @announcement_page)
      = render @announcement_page
    = render partial: 'shared/upcoming_events', locals: {events: current_user.try(:upcoming_events).try(:limit, 5) || []}
    
    = render partial: 'root/what_is_new'
    = render partial: 'root/start_page_elements'
    %h1= app_name
    %div.side_footer
      = render partial: 'layouts/footer'

  .col-sm-6#social_stream
    .row.new_post= render partial: 'root/new_post', locals: {sent_from_root_page: true}
    
    .row.insert_loaded_content_here

    .row.scroll_to_load
      = render 'root/scroll_to_load'
