.row
  .col-sm-3.hidden-xs.side-col
    = render partial: 'layouts/vertical_nav'

    %h1= app_name
    %div.side_footer
      = render partial: 'layouts/footer'

  .col-sm-6
    = render partial: 'shared/upcoming_events', locals: {events: current_user.try(:upcoming_events).try(:limit, 5) || []}
    = render @page
    = render partial: 'root/what_is_new'
  .col-sm-3.side-col
    - if (@announcement_page.content && @announcement_page.content.length > 5) or can?(:update, @announcement_page)
      = render @announcement_page
    = render partial: 'root/start_page_elements'
    
.row.filter_news
  = form_tag(news_path, method: 'get', remote: true) do
    = text_field_tag :query, "", placeholder: 'Neuigkeiten filtern', class: 'form-control input-lg right filter_news', id: 'filter_news_query', autocomplete: 'off'

.row.insert_loaded_content_here

.row.scroll_to_load
  = render 'root/scroll_to_load'
