- # We render the vertical nav within this view to save some space.
- # Therefore, deactivate the vertical nav in the layout.
- @hide_vertical_nav = true
-#- @hide_footer = true

.row.start-page-entry
  .col-sm-6.col-xs-12
    .row.d-block
      - if @pinned_objects.any?
        = render @pinned_objects

      = render partial: 'shared/upcoming_events', locals: {events: current_user.try(:upcoming_events).try(:limit, 5) || []}

      = box title: t(:blog_entries) do
        %ul.blog_posts.root_list
          - for blog_post in @blog_posts
            = render partial: 'root/list_entry', locals: {obj: blog_post, date: blog_post.published_at, category: blog_post.parent, author: blog_post.author}
  .col-sm-6.col-xs-12.side-col
    .row
      .col-sm-6.col-xs-12
        = box title: "Sammelnachrichten" do
          %ul.posts.root_list
            - for post in @posts
              = render partial: 'root/list_entry', locals: {obj: post, date: post.created_at, category: post.group, author: post.author}
      .col-sm-6.col-xs-12
        = render partial: 'root/start_page_elements'
    .row
      .col-sm-12.col-xs-12
        = box title: t(:documents) do
          %ul.documents.root_list
            - for document in @documents
              = render partial: 'root/list_entry', locals: {obj: document, date: document.created_at, category: document.scope, author: document.author, thumb: document.thumb_path, new_tab: true}

      
