- # We render the vertical nav within this view to save some space.
- # Therefore, deactivate the vertical nav in the layout.
- @hide_vertical_nav = true
-#- @hide_footer = true

.row
  .col-sm-3.col-xs-12.pull-right.side-col
    .row
      = render partial: 'root/start_page_elements'

  .col-sm-9.col-xs-12
    .row
      .col-sm-4.hidden-xs.side-col
        = render partial: 'layouts/vertical_nav'

        .row= render @page


      .col-sm-8
        - if @pinned_objects.any?
          = render @pinned_objects

        = render partial: 'shared/upcoming_events', locals: {events: current_user.try(:upcoming_events).try(:limit, 5) || []}

        = box title: t(:blog_entries) do
          %ul.blog_posts.root_list
            - for blog_post in @blog_posts
              = render partial: 'root/list_entry', locals: {obj: blog_post, date: blog_post.published_at, category: blog_post.parent, author: blog_post.author}

        = box title: "Sammelnachrichten" do
          %ul.posts.root_list
            - for post in @posts
              = render partial: 'root/list_entry', locals: {obj: post, date: post.created_at, category: post.group, author: post.author}

        = box title: t(:documents) do
          %ul.documents.root_list
            - for document in @documents
              = render partial: 'root/list_entry', locals: {obj: document, date: document.created_at, category: document.scope, author: document.author, thumb: document.thumb_url, new_tab: true}

-#- if @pinned_objects.any?
-#  = render partial: 'root/pinned_view'
-#- else
-#  .row
-#    .root_view_switcher.pull-right.hidden-xs
-#      = t :change_view
-#      %a{href: '?view_setting=timeline'} Timeline
-#      |
-#      %a{href: '?view_setting=social'} Social
-#
-#  = render partial: 'root/timeline_view' if @view_setting == 'timeline'
-#  = render partial: 'root/social_view' if @view_setting == 'social'
-#
