%div.col-xs-12.col-md-4.col-md-push-8.start_page_elements
  - if (@announcement_page.content && @announcement_page.content.length > 5) or can?(:update, @announcement_page)
    = render @announcement_page
  
  = render partial: 'shared/upcoming_events', locals: {events: current_user.try(:upcoming_events).try(:limit, 5) || []}
  = render partial: 'root/start_page_elements'
  = render @page

%div.col-xs-12.col-md-8.col-md-pull-4
  - @objects.each do |object|
    - if object.class.base_class.name.in? ['Page', 'Post']
      = render object
