.page-header
  .row.align-itens-center
    .col-auto
      .page-pretitle= "Willkommen, #{current_user.first_name}!"
      .page-title Start

= render partial: 'root/charts'

.row.row-deck.row-cards
  .col-lg-6
    .card
      .card-header
        %h4.card-title= t :events
      .table-responsive
        %table.table.card-table.table-vcenter
          %tbody
            - events.each do |event|
              %tr
                %td.w-1= avatar event
                %td= link_to event.title, event
                %td.text-muted
                  = event_icon
                  = localize event.start_at
                %td= event.group.name
      - if semester_calendar = current_user.try(:primary_corporation).try(:semester_calendar)
        .card-footer
          = link_to "Semesterprogramm", semester_calendar, class: 'btn btn-white btn-sm'

  = cache :tabler_birthday_box, expires_in: Time.now.end_of_day - Time.current do
    .col-lg-6
      .card
        .card-header
          %h4.card-title= t :birthdays
        .card-body
          .row.mb-n3
            - birthday_users.each do |user|
              .col-6.row.mb-3.align-items-center.filterable
                %a.col-auto
                  %span.avatar{style: "background-image: url(#{user.avatar_path})"}
                .col
                  = link_to user.title, user, class: "text-body d-block"
                  %small.d-block.text-muted.text-truncate.mt-n1= localize user.date_of_birth
                  %small.d-block.text-muted.text-truncate.mt-n1= t :n_years, n: (Date.today < user.birthday_this_year ? user.next_age : user.age)

  -#.col-lg-6
  -#  .card
  -#    .card-header
  -#      %h4.card-title= t :blog
  -#    .table-responsive
  -#      %table.table.card-table.table-vcenter
  -#        %tbody
  -#          - blog_posts.each do |blog_post|
  -#            %tr
  -#              %td.w-1
  -#                - if blog_post.author
  -#                  %span.avatar{style: "background-image: url(#{blog_post.author.avatar_path})"}
  -#              -#  .thumb
  -#              -#    = image_tag document.thumb_path
  -#              %td= link_to blog_post.title, blog_post
  -#              %td.text-nowrap.text-muted
  -#                = event_icon
  -#                = localize blog_post.published_at.to_date
  -#              %td.text-nowrap
  -#                - if blog_post.parent
  -#                  = folder_icon
  -#                  = link_to blog_post.parent.title, blog_post.parent

  .col-lg-6
    .card
      .card-header
        %h4.card-title= t :documents
      .table-responsive
        %table.table.card-table.table-vcenter
          %tbody
            - documents.each do |document|
              %tr
                %td.w-5
                  .thumb
                    = link_to document do
                      = image_tag document.thumb_path
                %td= link_to document.title, document
                %td.text-nowrap.text-muted
                  = event_icon
                  = localize document.created_at.to_date
                %td.text-nowrap
                  - if document.scope.kind_of? Group
                    = folder_icon # group_icon would be more accurate, but having both icons in one list looks cluttered.
                    = link_to document.scope.title, group_documents_path(group_id: document.scope.id)
                  - elsif document.scope.kind_of? Page
                    = folder_icon
                    = link_to document.scope.title, page_documents_path(page_id: document.scope.id)
      .card-footer
        = link_to "Mehr Dokumente anzeigen", documents_path, class: 'btn btn-white btn-sm'
        - if can? :create, Document
          = link_to "Dokumente hochladen", new_document_path, class: 'btn btn-white btn-sm'

  .col-lg-6
    .card
      - if can? :create, Post
        .card-header
          %vue_create_post_form{camera_icon: camera_icon, send_icon: send_icon, sent_via: post_draft_via_key, ':initial_post': drafted_post.as_json.merge({attachments: drafted_post.attachments, parent_groups: drafted_post.parent_groups.collect { |group| group.as_json.merge({title: group.title, avatar_path: group.avatar_path}) }}).to_json, ':suggested_groups': current_user.groups.regular.collect { |group| group.as_json.merge({title: group.title, avatar_path: group.avatar_path}) }.to_json, ':show_send_via_email_toggle': true.to_json}
      = vue_posts posts
      .card-footer
        = link_to "Mehr Posts anzeigen", posts_path, class: 'btn btn-white btn-sm'

.row.row-deck.row-cards
  - for group in corporations
    .col-xs-12.col-md-6
      = render layout: "groups/profile_card", locals: { group: group } do
        .p-4.pt-0.mt-0
          .text-center
            - if (postal_address = group.postal_address).present?
              .with-newlines.pt-0.mt-0.mb-2
                = postal_address
            - if (phone = group.phone).present?
              .mt-0.mb-1
                %span.mr-2= landline_icon
                = link_to phone, "tel:#{phone}"
            - if (email = group.email).present?
              .mt-0.mb-0
                %span.mr-1= mail_icon
                = mail_to email

            - if group.facebook_url || group.instagram_url || group.youtube_url
              .social-links.mt-3
                - if group.facebook_url
                  = link_to facebook_icon, group.facebook_url, target: '_blank'
                - if group.instagram_url
                  = link_to instagram_icon, group.instagram_url, target: '_blank'
                - if group.youtube_url
                  = link_to youtube_icon, group.youtube_url, class: 'text-muted', target: '_blank'

          .row.mt-4
            - group.important_officer_groups.each do |office|
              - for officer in office.members
                .row.row-sm.align-items-center.col-xs-12.col-sm-6.col-md-12.col-lg-6.mb-3
                  .col-auto
                    = user_avatar(officer)
                  .col
                    .text-body.d-block
                      = link_to officer.title, officer
                    %small.d-block.mt-n1.text-muted= office.name
                    - if email = office.email
                      %small.d-block.mt-n1= mail_to email, email, class: 'text-muted'
                    - if phone = officer.phone
                      %small.d-block.mt-n1= link_to phone, "tel:#{phone}", class: 'text-muted'

        .card-footer
          = link_to "Mitglieder", group_members_path(group), class: 'btn btn-sm btn-white'
          = link_to "Amtsträger", group_officers_path(group), class: 'btn btn-sm btn-white'
          - if can? :update, group
            = link_to "Daten ändern", group_path(group), class: "btn btn-sm btn-white"
