.page-header
  .row.align-itens-center
    .col-auto
      .page-pretitle= "Willkommen, #{current_user.first_name}!"
      .page-title Start

= render partial: 'root/charts'

.row.row-deck.row-cards
  .col-lg-6
    .card
      .card-header
        %h4.card-title= t :events
      .table-responsive
        %table.table.card-table.table-vcenter
          %tbody
            - events.each do |event|
              %tr
                %td= link_to event.title, event
                %td.text-muted
                  = event_icon
                  = localize event.start_at
                %td= event.group.name


  .col-lg-6
    = cache :tabler_birthday_box, expires_in: Time.now.end_of_day - Time.current do
      .card
        .card-header
          %h4.card-title= t :birthdays
        .card-body
          .row.mb-n3
            - birthday_users.each do |user|
              .col-6.row.mb-3.align-items-center.filterable
                %a.col-auto
                  %span.avatar{style: "background-image: url(#{user.avatar_path})"}
                .col
                  = link_to user.title, user, class: "text-body d-block"
                  %small.d-block.text-muted.text-truncate.mt-n1= localize user.date_of_birth
                  %small.d-block.text-muted.text-truncate.mt-n1= t :n_years, n: (Date.today < user.birthday_this_year ? user.next_age : user.age)

  .col-lg-6
    .card
      .card-header
        %h4.card-title= t :blog
      .table-responsive
        %table.table.card-table.table-vcenter
          %tbody
            - blog_posts.each do |blog_post|
              %tr
                %td.w-1
                  - if blog_post.author
                    %span.avatar{style: "background-image: url(#{blog_post.author.avatar_path})"}
                -#  .thumb
                -#    = image_tag document.thumb_path
                %td= link_to blog_post.title, blog_post
                %td.text-nowrap.text-muted
                  = event_icon
                  = localize blog_post.published_at.to_date
                %td.text-nowrap
                  - if blog_post.parent
                    = folder_icon
                    = link_to blog_post.parent.title, blog_post.parent

  .col-lg-6
    .card
      .card-header
        %h4.card-title= t :documents
      .table-responsive
        %table.table.card-table.table-vcenter
          %tbody
            - documents.each do |document|
              %tr
                %td.w-5
                  .thumb
                    = image_tag document.thumb_path
                %td= link_to document.title, document
                %td.text-nowrap.text-muted
                  = event_icon
                  = localize document.created_at.to_date
                %td.text-nowrap
                  - if document.scope
                    = folder_icon
                    = link_to document.scope.title, document.scope
