- # locals:
- post ||= locals[:post] || raise('no post given for delivery report')

.long_delivery_report

  - if post.successfully_sent_to_count > 0
    %p#successfully_sent_to
      %span.user_avatar_list= user_avatars(post.successfully_sent_to)
  
  - if post.pending_to_send_to_count > 0
    %p#pending_to_send_to
      %h4= "#{t(:delivery_report_pending)}:"
      %span.user_avatar_list= user_avatars(post.pending_to_send_to)
    
    - # This has to be shown only when there are pending messages,
    - # because this explains why not all messages have been sent, yet.
    - if post.created_via_social_messaging?
      %p#post_created_via
        =t :post_has_been_created_via_social_messaging 
      %p.notification_settings= link_to t(:notification_settings), user_settings_path(current_user)
  
  - if post.failed_to_send_to_count > 0
    %p#failed_to_send_to
      %h4= "#{t(:delivery_report_failed_to_send)}:"
      %span.user_avatar_list= user_avatars(post.failed_to_sent_to)
  
  - if current_role.global_admin? # As debug info:
    #post_created_via
      =t :post_created_via_email if post.created_via_email?
      =t :post_created_via_contact_form if post.created_via_contact_form?
      =t :post_created_via_social_messaging if post.created_via_social_messaging?
