Liebe Bundesbrüder,
= "\n"
ich möchte euch auf folgende Dokumente auf der Wingolfsplattform aufmerksam machen:
= "\n"
Mit wingolfitischen Grüßen
= "#{current_user.name} Z! #{current_user.aktivitaetszahl} #{current_user.klammerung}"