%h1= "#{t(:new_post_to)} #{@group.name}"
%div.new_post.post
  = form_for(@new_post, turboboost: true, html: {multipart: true}) do |form|
    = form.hidden_field :group_id
    = form.hidden_field :author_user_id
    .media
      .media-left.new_post_avatar= user_avatar(current_user)
      .media-body
        .preview
          .post-header= t(:preview_post)
          .post-body
        = form.text_area :text, placeholder: t(:enter_new_post_here), class: 'form-control', data: {user_titles_path: autocomplete_title_users_path}
        .post_tools
          .post_attachment
            = form.fields_for :attachments, Attachment.new do |builder|
              %fieldset
                = builder.file_field :file
          .what_will_happen
            - if can? :force_post_notification, @group
              %select.notification{name: 'notification'}
                %option{value: ''}= t(:notify_according_to_notification_settings)
                %option{value: 'instantly'}= t(:notify_all_immideately)
            - else
              Beim Klick auf "Abschicken" wird die Nachricht gespeichert. Die Mitglieder der Gruppe
              = link_to @group.name, @group
              werden gemäß ihrer eigenen Benachrichtigungs-Einstellungen per E-Mail informiert,
              spätestens jedoch nach einem Tag.

          = form.submit t(:submit_post), class: 'submit_post btn btn-primary right'
          = link_to t(:preview_post), post_preview_path, class: 'preview_post btn btn-default right'
          %span.right
            
