%h1= "#{t(:new_post_to)} #{@group.name}"
%div.new_post.post
  = form_for(@new_post) do |form|
    = form.hidden_field :group_id
    = form.hidden_field :author_user_id
    .media
      .media-left.new_post_avatar= user_avatar(current_user)
      .media-body
        .preview
          .post-header= t(:preview_post)
          .post-body
        = form.text_area :text, placeholder: t(:enter_new_post_here)
        .post_tools
          .what_will_happen
            Beim Klick auf "Abschicken" wird die Nachricht per E-Mail an die Mitglieder der Gruppe
            = link_to @group.name, @group
            versandt.

          -#%select
          -#  %option= t(:notify_according_to_notification_settings)
          -#  %option= t(:notify_all_immideately)

          = form.submit t(:submit_post), class: 'submit_post btn btn-primary right'
          = link_to t(:preview_post), post_preview_path, class: 'preview_post btn btn-default right'
          %span.right
            
