%h1.post.post-subject= post.subject
%div.post
  .media
    .media-left= user_avatar(post.author)
    .media-body
      %div.post-header
        %div.post-author
          - if post.author.kind_of? User
            - if post.external_author.present?
              - # The user has sent from a non-registered email. Display it!
              = link_to post.external_author, post.author
            - else
              = link_to post.author.title, post.author
          - if post.author.kind_of? String
            = post.author
          
          - if @navable != post.group
            %span.post-group.right
              = icon(:tag)
              = link_to post.group.title, post.group
        %div.post-date
          = localize(post.sent_at)
          
      %div.post-body
        = markup post.text.html_safe
