%h1.post.post-subject
  - if @post and not @posts
    = post.subject
  - else
    = link_to post.subject, post
%div.post

  - if (image_attachments = post.attachments.find_by_type("image")) && image_attachments.try(:any?)
    #inline-pictures= render partial: 'attachments/pictures', locals: {attachments: image_attachments, inline: true, hide_description: true}
  

  .media
    .media-left= user_avatar(post.author)
    .media-body
      %div.post-header
        %div.post-author
          - if post.author.kind_of? User
            - if post.external_author.present?
              - # The user has sent from a non-registered email. Display it!
              = link_to post.external_author, post.author
            - else
              = link_to post.author.title, post.author
          - if post.author.kind_of? String
            = post.author
          
          - if @navable != post.group
            %span.post-group.right
              = icon(:tag)
              = link_to post.group.title, post.group
        %div.post-date
          = localize(post.sent_at) if post.sent_at
        - if @post and not @posts
          %div.post-deliveries#post-deliveries{data: {keep_polling: @keep_polling_delivery_counters ? 'true' : 'false'}}
            =t :post_sent_to_n_recipients, n: post.deliveries.sent.map(&:user_id).uniq.count if post.deliveries.sent.count > 0
            =t :post_failed_to_send_to_n_recipients, n: post.deliveries.failed.map(&:user_id).uniq.count if post.deliveries.failed.count > 0
      
      %div.post-body
        = markup post.text

      = render partial: 'posts/attachments', locals: {post: post, hide_images: true}

      .post-comments= render partial: 'comments/comments', locals: {commentable: post}
