%table.group_of_groups.datatable
  %thead
    %tr
      %th= t :group
      %th= t :members
      - group.important_officer_keys.each do |key|
        %th= t key
  %tbody
    - group.child_groups_table_rows.each do |row|
      - child_group = Group.find row[:child_group_id]
      %tr
        %td= link_to child_group.name, child_group
        %td= row[:members_count]
        - group.important_officer_keys.each do |key|
          %td= user_links(User.find(row["#{key}_ids"]))