<p><%= t('reset_password_instructions.hello') + @resource.email %>!</p>

<p><%= t('reset_password_instructions.introduction') %></p>

<p><%= link_to t('reset_password_instructions.change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('reset_password_instructions.ignore_notice') %></p>
<p><%= t('reset_password_instructions.change_notice') %></p>
