%p= t('reset_password_instructions.hello') + @resource.user.name + ","

%p= t('reset_password_instructions.introduction')

%p= link_to t('reset_password_instructions.change_password'), reset_password_url(@resource, :reset_password_token => @token)

%p= t('reset_password_instructions.ignore_notice')
%p= t('reset_password_instructions.change_notice')
