= render partial: 'groups/tabs', locals: {active: 'settings'}

%h1= @title
%div
  %ul.attributes
    %li.attribute
      %span.label-wrapper
        .profile_field_label=t :name
      %span.value-wrapper= best_in_place_if can?(:rename, @group), @group, :name
    %li.attribute
      %span.label-wrapper
        .profile_field_label=t :extensive_name
      %span.value-wrapper= best_in_place_if can?(:rename, @group), @group, :extensive_name
    %li.attribute
      %span.label-wrapper
        .profile_field_label=t :token
      %span.value-wrapper
        = best_in_place_if can?(:change_token, @group), @group, :token
        - if @group.kind_of?(Corporation)
          %p
            %small= t(:corporation_token_explanation)
    %li.attribute
      %span.label-wrapper
        .profile_field_label=t :internal_token
      %span.value-wrapper
        = best_in_place_if can?(:change_internal_token, @group), @group, :internal_token
        %p
          %small= t(:internal_group_token_explanation)
    %li.attribute
      %span.label-wrapper
        .profile_field_label=t :group_type
      %span.value-wrapper= I18n.t(@group.type.try(:underscore) || :group, default: @group.type)

-# %h1 Gruppen-Beitritt
-# %div
-#   %p Das funktioniert noch nicht:
-#   %p
-#     %select
-#       %option Jeder darf selbstst채ndig beitreten
-#       %option Nur Administratoren d체rfen Mitglieder hinzuf체gen
-#       %option Niemand darf Mitglieder hinzuf체gen (vom System verwaltetete Gruppe)
-#   %p
-#     = link_to t(:manage_members), group_path(@group) + "#members", class: 'btn btn-default'

- if current_user.beta_tester?
  %h1=t :mailing_lists
  %div
    = link_to t(:manage_mailing_lists), group_mailing_lists_path(@group), class: 'btn btn-default'
