%ul.breadcrumbs
  - current_breadcrumbs.each do |breadcrumb|
    %li{class: "#{'slim' if breadcrumb.respond_to?(:slim_breadcrumb) && breadcrumb.slim_breadcrumb}"}

      - if breadcrumb.kind_of? NavNode
        = link_to current_tab_path(breadcrumb.navable) || breadcrumb.navable, 'data-vertical-nav-path' => vertical_nav_path(navable_type: breadcrumb.navable.class.base_class.name, navable_id: breadcrumb.navable.id) do
          = breadcrumb.breadcrumb_item

      - if breadcrumb.kind_of? Hash
        - if breadcrumb[:path]
          = link_to breadcrumb[:title], breadcrumb[:path]
        - else
          = link_to breadcrumb[:title], request.fullpath
