.navbar-expand-md
  #navbar-menu.collapse.navbar-collapse
    .navbar.navbar-light
      .container-xl
        %ul.navbar-nav
          %li.nav-item{class: ('active' if current_tab == :start or current_tab.blank?)}
            %a.nav-link{:href => root_path}
              %span.nav-link-icon.d-md-none.d-lg-inline-block
                = home_icon
              %span.nav-link-title
                Start
          %li.nav-item.dropdown{class: ('active' if current_tab == :contacts)}
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#navbar-base", :role => "button"}
              %span.nav-link-icon.d-md-none.d-lg-inline-block
                = contact_icon
              %span.nav-link-title
                Kontaktdaten
            %ul.dropdown-menu
              %li
                = link_to "Meine Daten", current_user, class: 'dropdown-item'
              .dropdown-divider
              - current_user.corporations.each do |corporation|
                %li
                  = link_to group_path(corporation), class: 'dropdown-item' do
                    = corporation.name
                %li
                  = link_to corporation_accommodations_path(corporation_id: corporation.id), class: 'dropdown-item' do
                    = "Wohnheim #{corporation.name}"
              .dropdown-divider
              %li
                = link_to group_officers_path(group_id: (g = Group.where(name: "Alle Bundesamtsträger").first).id), class: "dropdown-item #{'active' if current_navable == g}" do
                  Bundesamtsträger
              .dropdown-divider
              %li
                = link_to corporations_path, class: "dropdown-item #{'active' if controller_name == 'corporations'}" do
                  Verbindungen
              %li
                = link_to groups_group_of_groups_path(Groups::PhvsParent.first), class: "dropdown-item #{'active' if current_navable == Groups::PhvsParent.first}" do
                  Philistervereine
              %li
                = link_to groups_group_of_groups_path(Group.bvs_parent), class: "dropdown-item #{'active' if current_navable == Group.bvs_parent}" do
                  Bezirksverbände

          %li.nav-item.dropdown{class: ('active' if current_tab == :members)}
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#navbar-base", :role => "button"}
              %span.nav-link-icon.d-md-none.d-lg-inline-block
                = group_icon
              %span.nav-link-title
                = t :members
            %ul.dropdown-menu
              - if can? :create, User
                %li
                  = link_to new_aktivmeldung_path, class: "dropdown-item #{'active' if controller_name == 'aktivmeldungen'}" do
                    Aktivmeldung eintragen
                .dropdown-divider
              - current_user.corporations.each do |corporation|
                %li
                  %a.dropdown-item{:href => group_members_path(corporation), class: ('active' if (corporation == current_navable) && controller_name == 'group_members')}
                    = corporation.name
              .dropdown-divider
              %li
                = link_to "Alle Wingolfiten", group_members_path(Group.alle_wingolfiten), class: 'dropdown-item'
                = link_to "Alle Aktiven", group_members_path(Group.alle_aktiven), class: 'dropdown-item'
                = link_to "Alle Philister", group_members_path(Group.alle_philister), class: 'dropdown-item'
              .dropdown-divider
              %li
                = link_to "Semesterstatistik", term_report_path(current_user.primary_corporation.term_reports.last), class: "dropdown-item #{'active' if controller_name == 'term_reports'}"
          %li.nav-item.dropdown{class: ('active' if current_tab == :events)}
            %a.nav-link.dropdown-toggle{'data-toggle': "dropdown", href: "#"}
              %span.nav-link-icon.d-md-none.d-lg-inline-block
                = calendar_icon
              %span.nav-link-title
                Veranstaltungen
            %ul.dropdown-menu
              %a.dropdown-item Meine Veranstaltungen
              .dropdown-divider
              - current_user.corporations.each do |corporation|
                = link_to corporation.title, group_search_semester_calendar_path(group_id: corporation.id), class: "dropdown-item #{'active' if controller_name == 'semester_calendars' && current_navable == corporation}"
              = link_to "Alle Semesterprogramme", semester_calendars_path, class: "dropdown-item #{'active' if controller_name == 'semester_calendars' && action_name == 'index' && !group}"
              .dropdown-divider
              %a.dropdown-item Stiftungsfeste
              %a.dropdown-item Wartburgfeste
              %a.dropdown-item Bundesconvente
              .dropdown-divider
              %a.dropdown-item Kalender
          %li.nav-item.dropdown{class: ('active' if current_tab == :documents)}
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#navbar-extra", :role => "button"}
              %span.nav-link-icon.d-md-none.d-lg-inline-block
                = document_icon
              %span.nav-link-title
                Dokumente
            %ul.dropdown-menu
              %li
                = link_to new_document_path, class: "dropdown-item #{'active' if controller_name == 'documents' and action_name == 'new'}" do
                  Dokumente hochladen
              .dropdown-divider
              %li= link_to "Aktuelle Dokumente", documents_path, class: "dropdown-item #{'active' if controller_name == 'documents' and params[:tags].blank?}"
              .dropdown-divider
              - %w(Vorlagen Protokolle Wingolfsblätter).each do |category|
                %li= link_to category, documents_path(tags: [category]), class: "dropdown-item #{'active' if controller_name == 'documents' and params[:tags] == [category]}"
          %li.nav-item.dropdown{class: ('active' if current_tab == :communication)}
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#navbar-layout", :role => "button"}
              %span.nav-link-icon.d-md-none.d-lg-inline-block
                = mail_icon
              %span.nav-link-title
                Kommunikation
            %ul.dropdown-menu
              %li
                = link_to mailing_lists_path, class: "dropdown-item #{'active' if controller_name == 'mailing_lists'}" do
                  = t :mailing_lists
              %li
                = link_to decision_making_federal_ballots_path, class: "dropdown-item #{'active' if controller_name == 'federal_ballots'}" do
                  Bundesanträge

          %li.nav-item.dropdown{class: ('active' if current_tab == :network)}
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#navbar-layout", :role => "button"}
              %span.nav-link-icon.d-md-none.d-lg-inline-block
                = network_icon
              %span.nav-link-title
                Netzwerk
            %ul.dropdown-menu
              %li
                = link_to small_ads_path, class: "dropdown-item #{'active' if controller_name == 'small_ads'}" do
                  Gesuche und Angebote
              %li
                %a.dropdown-item{:href => "./layout-horizontal.html"}
                  Karte des Wingolfs
              - %w(Biermusiker Juristen).each do |group_name|
                %li
                  = link_to group_members_path(g = Group.where(name: group_name).first), class: "dropdown-item #{'active' if current_navable == g}" do
                    = group_name

        = render partial: 'layouts/search'
