.navbar-expand-md
  #navbar-menu.collapse.navbar-collapse
    .navbar.navbar-light
      .container-xl
        %ul.navbar-nav
          %li.nav-item{class: ('active' if current_tab == :start or current_tab.blank?)}
            %a.nav-link{:href => root_path}
              %span.nav-link-icon.d-md-none.d-lg-inline-block
                = home_icon
              %span.nav-link-title
                Start
          %li.nav-item.dropdown{class: ('active' if current_tab ==  :contacts)}
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#navbar-base", :role => "button"}
              %span.nav-link-icon.d-md-none.d-lg-inline-block
                = contact_icon
              %span.nav-link-title
                Kontaktdaten
            %ul.dropdown-menu
              %li
                = link_to "Meine Daten", current_user, class: 'dropdown-item'
              - current_user.corporations.each do |corporation|
                %li
                  = link_to group_path(corporation), class: 'dropdown-item' do
                    = corporation.name
              .dropdown-divider
              %li
                = link_to group_officers_path(group_id: (g = Group.where(name: "Alle Bundesamtsträger").first).id), class: "dropdown-item #{'active' if current_navable == g}" do
                  Bundesamtsträger
              .dropdown-divider
              %li
                = link_to corporations_path, class: "dropdown-item #{'active' if controller_name == 'corporations'}" do
                  Verbindungen
              %li
                %a.dropdown-item{:href => "./empty.html"}
                  Philistervereine
              %li
                %a.dropdown-item{:href => "./empty.html"}
                  Bezirksverbände

          %li.nav-item.dropdown{class: ('active' if current_tab == :members)}
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#navbar-base", :role => "button"}
              %span.nav-link-icon.d-md-none.d-lg-inline-block
                = group_icon
              %span.nav-link-title
                = t :members
            %ul.dropdown-menu
              %li
                %a.dropdown-item{:href => "./empty.html"}
                  Aktivmeldung eintragen
              - current_user.corporations.each do |corporation|
                %li
                  %a.dropdown-item{:href => group_members_path(corporation), class: ('active' if corporation == current_navable)}
                    = corporation.name
          %li.nav-item
            %a.nav-link{:href => "./form-elements.html"}
              %span.nav-link-icon.d-md-none.d-lg-inline-block
                = calendar_icon
              %span.nav-link-title
                Veranstaltungen
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#navbar-extra", :role => "button"}
              %span.nav-link-icon.d-md-none.d-lg-inline-block
                = document_icon
              %span.nav-link-title
                Dokumente
            %ul.dropdown-menu
              %li
                %a.dropdown-item{:href => "./invoice.html"}
                  Invoice
              %li
                %a.dropdown-item{:href => "./blog.html"}
                  Blog cards
              %li
                %a.dropdown-item{:href => "./snippets.html"}
                  Snippets
              %li
                %a.dropdown-item{:href => "./search-results.html"}
                  Search results
              %li
                %a.dropdown-item{:href => "./pricing.html"}
                  Pricing cards
              %li
                %a.dropdown-item{:href => "./users.html"}
                  Users
              %li
                %a.dropdown-item{:href => "./gallery.html"}
                  Gallery
              %li
                %a.dropdown-item{:href => "./profile.html"}
                  Profile
              %li
                %a.dropdown-item{:href => "./music.html"}
                  Music
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#navbar-layout", :role => "button"}
              %span.nav-link-icon.d-md-none.d-lg-inline-block
                = mail_icon
              %span.nav-link-title
                Kommunikation
            %ul.dropdown-menu
              %li
                %a.dropdown-item{:href => "./layout-horizontal.html"}
                  Horizontal

          %li.nav-item.dropdown{class: ('active' if current_tab == :network)}
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#navbar-layout", :role => "button"}
              %span.nav-link-icon.d-md-none.d-lg-inline-block
                = network_icon
              %span.nav-link-title
                Netzwerk
            %ul.dropdown-menu
              %li
                = link_to small_ads_path, class: "dropdown-item #{'active' if controller_name == 'small_ads'}" do
                  Gesuche und Angebote
              %li
                %a.dropdown-item{:href => "./layout-horizontal.html"}
                  Karte des Wingolfs
              %li
                %a.dropdown-item{:href => "./layout-horizontal.html"}
                  Biermusiker
              %li
                %a.dropdown-item{:href => "./layout-horizontal.html"}
                  Juristen

        #header_search.my-2.my-md-0.flex-grow-1.flex-md-grow-0.order-first.order-md-last
          = form_tag search_path, :method => 'get', role: 'search' do
            .input-icon
              %span.input-icon-addon
                %svg.icon{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M0 0h24v24H0z", :stroke => "none"}
                  %circle{:cx => "10", :cy => "10", :r => "7"}
                  %line{:x1 => "21", :x2 => "15", :y1 => "21", :y2 => "15"}
              //%input.form-control{:placeholder => "Search…", :type => "text"}/
              = search_field_tag :query, params[:query], :class => "search-query form-control mr-sm-2 find_and_filter", :placeholder => t(:find_and_filter), :autocomplete => 'off', :title => t(:type_query_and_press_enter), data: {placement: 'bottom', preview_url: search_preview_path(format: 'json')}