.navbar-expand-md
  #navbar-menu.collapse.navbar-collapse
    .navbar.navbar-light
      .container-xl
        %ul.navbar-nav

          - if current_navable.kind_of? Pages::PublicPage
            - for page in current_navable.menu_items
              %li.nav-item{class: ('active' if current_navable == page)}
                = link_to page, class: 'nav-link' do
                  %span.nav-link-title
                    = page.title

          - if can? :update, current_navable
            %li.nav-item.dropdown
              .btn.btn-white.dropdown-toggle{'data-toggle': 'dropdown'}
                = tools_icon
              .dropdown-menu
                = link_to current_navable, method: :delete, class: 'dropdown-item' do
                  = trash_icon
                  = "Seite \"#{current_navable.title}\" löschen"
                = link_to current_navable, method: :delete, class: 'dropdown-item' do
                  = tools_icon
                  = "Seite \"#{current_navable.title}\" umbenennen"
                = link_to "?preview_as=public", class: 'dropdown-item' do
                  = preview_icon
                  Vorschau aktivieren
          - if current_role_view.to_s == 'public'
            %li.nav-item
              = link_to "?preview_as=#{current_role.allowed_preview_roles.first}", class: 'btn btn-white btn-icon', title: "Vorschau beenden" do
                = preview_icon

        = render partial: 'layouts/search'
