<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" >
  <title><%=h "#{@title} - " if @title %>Wingolfsplattform</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <% %w(global).each do |file_title|
    concat stylesheet_link_tag file_title, :media => "screen"
  end #jquery.fancybox-1.3.4 jquery-ui-1.8.16.custom datatables/jquery.dataTables_themeroller global backend %>
  <%= yield :head %>
</head>
<body class="<%= controller.controller_name %>">

  <% if logged_in? %>
  <div id="backendBar">
    <div class="content">
      <ul>
        <li class="first">
	  <%= link_to @current_user.name, :controller => "users", :action => "show", :alias => @current_user.alias %>
	</li>
        <li><%= link_to t( :my_profile ), :controller => "users", :action => "show", :alias => @current_user.alias %> </li>
	<li><%= link_to t( :my_groups ), controller: 'groups', action: 'my' %></li>
        <li class="last">
	  <%= link_to t( :logout ), :controller => "sessions", :action => "logout" %>
	</li>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <% end %>
  
  <div id="headerBg">
    <div id="header">
      <div id="header_claim">
	<%= image_tag( '../images/claim.png' ) %>
      </div>
      <div id="header_logo">
	<%= image_tag( '../images/logo.png' ) %>
      </div>
      <div id="header_search">
	Suche
      </div>
      <div id="header_navi">
        <ul>
          <li class="active"><a>Horizontale Navigation</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="contentBgLayer1">
    <div id="contentBgLayer2">
      <div id="contentBgLayer3">
        <div id="content_wrapper">
          <div id="toolbar">
	    <span id="breadcrumb">
	      Breadcrumb
	    </span>
	    <span id="site_tools">
	      <%= link_to ( 
		    "Bearbeiten " +
		    image_tag( '../images/tools/edit.png', alt: t( :edit ), title: t( :edit ), class: "button site_edit_button" )
		  ).html_safe,
		  action: "edit"
	      %>
	      
	    </span>
	  </div>
	  <div id="content">
            <div class="content_twoCols content_twoCols-20-80">
              <div class="content_twoCols_left">
		<div class="vertical_menu">
		  <ul>
		    <%= vertical_menu root: Page.find_root, active_element: Page.last %>
		    <% # = submenu_for User.first %>
		  </ul>
		  <ul>
		    <li><%= link_to "Alle Benutzer auflisten", { :controller => "users" }, { :class => (action_name == "index" ? "active" : "" ) } %></li>
		  </ul>
		</div>
	      </div>
              <div class="content_twoCols_right">

		<% if flash[ :error ] %>
		<div class="flash_error">
                  <%=h flash[ :error ] %>
		</div>
                <% end %>   

           	<%= convert_to_content_box { yield } %>

              </div>
              &nbsp;
              <div class="clear"></div>
            </div>
          </div>
	</div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div id="footer_bg"></div>
    <div id="footer_navi">
      <ul>
	    <li><a>Impressum</a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div id="footer_line"></div>
  </div>

  <%= yield :scripts %>

</body>
</html>
