!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, viewport-fit=cover", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %title= website_title_with_app_name
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com/", :rel => "preconnect"}/
    %meta{:content => "#206bc4", :name => "msapplication-TileColor"}/
    %meta{:content => "#206bc4", :name => "theme-color"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    %meta{:content => "True", :name => "HandheldFriendly"}/
    %meta{:content => "320", :name => "MobileOptimized"}/
    %meta{:content => "noindex,nofollow,noarchive", :name => "robots"}/
    %link{:href => "./favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "./favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    / CSS files
    :css
      body {
      	display: none;
      }
    = stylesheet_link_tag 'bootstrap_layout', :media => 'all'
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application', data: {turbolinks_eval: false}
    = javascript_include_tag 'bootstrap_tabler', data: {turbolinks_eval: false}

    - if Rails.env.production?
      = javascript_include_tag "vue_app.pack"
    - else
      = javascript_include_tag 'http://localhost:9000/vue_app.pack.js' # webpack-dev-server
      = javascript_include_tag 'http://localhost:8098' # vue dev tools

    = csrf_meta_tags
  = body_tag class: 'antialiased' do
    .page
      %header.navbar.navbar-expand-md.navbar-light
        .container-xl
          %button.navbar-toggler{"data-target" => "#navbar-menu", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          %a.navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pr-0.pr-md-3{:href => root_path}
            %img.navbar-brand-image{:src => logo_url}/
            &nbsp;
            = AppVersion.app_name

          - if current_user
            = render partial: 'layouts/topbar_avatar'
          - else
            = link_to "Anmelden", sign_in_path

      - if current_user
        = render partial: 'layouts/navbar'

      #content.content
        .container-xl
          / Content here
          #vue-app
            = render partial: 'shared/flashes'
            = yield
        %footer.footer.footer-transparent
          .container
            .row.text-center.align-items-center.flex-row-reverse
              .col-lg-auto.ml-lg-auto
                %ul.list-inline.list-inline-dots.mb-0
                  %li.list-inline-item
                    %a.link-secondary{:href => "https://plattformpodcast.com"} Podcast
                  %li.list-inline-item
                    %a.link-secondary{:href => "https://wingolf.io/vademecum/"} App
                  %li.list-inline-item
                    %a.link-secondary{:href => "https://github.com/fiedl/your_platform", :target => "_blank"} Source-Code
              .col-12.col-lg-auto.mt-3.mt-lg-0
                = succeed "." do
                  %a.link-secondary{:href => "https://wingolf.io/intro/"} Plattform-Projekt des AK Internet und IT-Dienstleistungen Fiedlschuster
    :javascript
      document.body.style.display = "block"