!!!
%html.compact-layout
  %head
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-type'}/
    %title= website_title_with_app_name

    = stylesheet_link_tag    'bootstrap_setup', :media => 'all'
    = stylesheet_link_tag    'wingolf_layout', :media => 'all'
    = stylesheet_link_tag    'compact_layout', :media => 'all'
    = stylesheet_link_tag    'application', :media => 'all'


    = favicon_link_tag 'favicon.ico'
    = favicon_link_tag 'fahne-144x144.png', rel: 'apple-touch-icon', type: 'image/png'
    = javascript_include_tag 'application'
    = gmaps4rails_api_script_tags
    = csrf_meta_tags
    = yield :head
  %body{:class => "compact-layout " + controller.controller_name, data: { locale: I18n.locale }}
    = render partial: 'layouts/compact_nav'
    #contentBgLayer1
      #contentBgLayer2
        #contentBgLayer3
          #content_wrapper{data: {turbolinks: {temporary: true}}}
            = render partial: 'shared/horizontal_nav'
            = flash_area
            = convert_to_content_box yield
            .clear
    = render partial: 'layouts/footer'
    = yield :scripts
