!!!
%html
  %head
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-type'}/
    %title= website_title_with_app_name
    = stylesheet_link_tag    'wingolf_layout', :media => 'all'
    = stylesheet_link_tag    'application', :media => 'all'
    = stylesheet_link_tag    '/stylesheets/vendor/galleria/themes/classic'
    = favicon_link_tag 'favicon.ico'
    = favicon_link_tag 'fahne-144x144.png', rel: 'apple-touch-icon', type: 'image/png'
    = javascript_include_tag 'application'
    = sublime_script_tag
    = gmaps4rails_api_script_tags
    = csrf_meta_tags
    = yield :head
  %body{:class => controller.controller_name, data: { locale: I18n.locale }}
    = flash_area
    = replace_unicode_special_chars_by_html_escape_strings( |
        convert_to_content_box { yield }                    |
      )                                                     |
    = yield :scripts
