!!!
%html{:lang => "en"}
  %head
    %meta{:charset => 'utf-8'}/
    %title= website_title_with_app_name
    = csrf_meta_tags
    %link{rel: 'search', href: opensearch_path, title: "#{app_name} Search", type: 'application/opensearchdescription+xml'}

    = stylesheet_link_tag 'application', :media => 'all'
    = stylesheet_link_tag 'primer_layout', :media => 'all'

    = javascript_include_tag 'application'
    = yield :scripts
    = yield :head

  = body_tag do
    %header.masthead
      .container
        %a.masthead-logo
          = image_tag "icon.png"
          = app_name
        .header-search
          %input#search{placeholder: "Suchen und Filtern"}
        %a.header-help.btn Hilfe
        - if current_user
          .header-avatar.dropdown
            %a.dropdown-toggle.current_user_dropdown{'data-toggle' => 'dropdown', :href => '#'}
              = user_avatar(current_user, size: 42)
            = render partial: 'layouts/current_user_dropdown'
        %nav.masthead-nav
          %a.active Start
          %a Mitglieder
          %a Kommunikation
          %a Veranstaltungen
          %a Ansprechpartner
          %a Dokumente

    .container
      %nav#breadcrumbs.navbar
        = render partial: 'layouts/breadcrumbs'

        %span#access_indicator
          = access_indicator if current_user

    .container
      #content
        = render partial: 'layouts/multi_column_content_area'

    .bottom_page_footer.hidden-print= render partial: 'layouts/footer'
