!!!
%html{:lang => "en"}
  %head
    / Required meta tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / Bootstrap CSS
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %title= website_title_with_app_name
  = body_tag do
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      = link_to root_path, class: 'navbar-brand' do
        = image_tag(logo_url)
        = app_name
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %form.form-inline.my-2.my-lg-0
          %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
          %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            %a.nav-link{:href => "#"}
              Home
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{:href => "#"} Link
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Dropdown
            .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %a.dropdown-item{:href => "#"} Action
              %a.dropdown-item{:href => "#"} Another action
              .dropdown-divider
              %a.dropdown-item{:href => "#"} Something else here
          %li.nav-item
            %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} Disabled
        %ul.navbar-nav.ml-auto
          %li.nav-item
            %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"}= t :help
          - if current_user
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#avatar-navlink{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = render 'layouts/session_bar_avatar'
              .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
                %a.dropdown-item{:href => "#"} Action
                %a.dropdown-item{:href => "#"} Another action
                .dropdown-divider
                %a.dropdown-item{:href => "#"} Something else here
          - else
            %li.nav-item
              %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"}= t :sign_in
    / Optional JavaScript
    / jQuery first, then Popper.js, then Bootstrap JS
    %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}