%h1
  = current_title
  - if can? :edit, @beta
    .tool.edit= link_to t(:edit), edit_beta_path(@beta), class: 'btn btn-outline-secondary'
%div
  = markup @beta.description

  %h2= t :attendees
  %ul
    - @beta.invitees.each do |user|
      %li= link_to_user user