- document || raise('no document given')

-#= link_to document.title, mobile_document_path(document)
-#= link_to document.title, document.file_url

.document
  = link_to document.file_path do
    .thumb= image_tag document.thumb_url
    .info
      .title= document.title
      .scope
        = document.scope.try(:title)
        •
        = localize document.created_at, format: :short